@use "colors" as c;
@use "sass:math";
@use "testimonial";

@mixin google-font($family, $weight: 400) {
  @import url("https://fonts.googleapis.com/css?family=#{$family}:#{$weight}");
}

@include google-font("Inter", 300);
@include google-font("Inter", 500);
@include google-font("Inter", 700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.testimonial-slider {
  font: {
    family: "Inter";
    size: 32px;
    weight: 300;
  }
  display: flex;
  justify-content: center;
  max-width: 1440px;
  margin-inline: auto;
  height: 100vh;

  color: c.$dark-blue;
  background: url("src/projects/junior/coding-bootcamp-testimonials-slider-master/src/assets/images/pattern-curve.svg")
    no-repeat bottom left/70%;
}

@media (width >= 768px) {
  .testimonial-slider {
    background-size: 45%;
    max-height: 800px;
  }
}
