@use "colors" as c;
@use "sizes";
@use "sass:color";

main {
  display: grid;
  grid-template-areas: "text illustration";
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  max-width: sizes.$content-width;
  margin-inline: auto;

  .text {
    grid-area: text;
  }

  .illustration {
    width: 150%;
    margin-top: 20px;
    margin-inline: auto;
    display: block;
    margin-bottom: min(21.3vw, 80px);
    grid-area: illustration;
  }

  h3 {
    font-weight: 400;
    font-size: 18px;
    color: c.$grayish-blue;
    letter-spacing: 3px;
    margin-bottom: 20px;

    span {
      font-weight: 700;
      background-color: c.$very-dark-blue;
      color: #fff;
      padding: 3px 10px 4px;
      border-radius: 15px;
      letter-spacing: 1px;
      margin-right: 14px;
      font-size: 16px;
    }
  }

  h1 {
    font-size: clamp(40px, 4.2vw, 60px);
    line-height: clamp(40px, 4.2vw, 60px);

    margin-bottom: 20px;
  }

  p {
    font: {
      family: "Barlow";
    }
    margin-bottom: 60px;
    color: c.$dark-grayish-blue;
  }

  button {
    background-color: c.$red;
    color: #fff;
    border: none;
    font: {
      family: "Barlow Condensed";
      weight: 700;
      size: 14px;
    }
    letter-spacing: 1px;
    padding: 10px 16px;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;

    &:hover {
      background-color: color.adjust(c.$red, $lightness: 5%);
    }
  }

  .text > span {
    color: c.$grayish-blue;
    letter-spacing: 3px;
    font-size: 14px;
  }
}

@media (width <= sizes.$breakpoint) {
  main {
    display: block;

    .illustration {
      max-width: 600px;
    }

    p {
      margin-bottom: 30px;
    }
  }
}
