@use "colors" as c;
@use "sizes";

@use "header";
@use "nav";
@use "mobileMenu";
@use "main";

@mixin google-font($family, $weight: 400) {
  @import url("https://fonts.googleapis.com/css?family=#{$family}:#{$weight}");
}

@include google-font("Barlow");
@include google-font("Barlow Condensed");
@include google-font("Barlow Condensed", 700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.project-tracking {
  font: {
    family: "Barlow Condensed";
    size: 18px;
    weight: 400;
  }

  color: c.$very-dark-blue;
  padding: sizes.$margin-mobile;
  // min-height: 100vh;
  display: grid;

  background: url("src/projects/junior/project-tracking-intro-component-master/src/assets/images/background-desktop.svg")
    no-repeat top right/ 50%;

  overflow: hidden;
}

@media (width <= sizes.$breakpoint) {
  .project-tracking {
    display: block;
    $top-offset: calc((0.76 * 100vw - 286px) * -1);

    background: url("src/projects/junior/project-tracking-intro-component-master/src/assets/images/background-mobile.svg")
      no-repeat top min($top-offset, 0px) right/ 50%;
  }
}
