@import "colors";
$image-size: 44px;

.notification {
  display: grid;
  grid-template-areas:
    "avatar summary picture"
    "avatar summary picture"
    "avatar private private";
  grid-template-columns: $image-size 1fr $image-size;
  margin-bottom: 8px;
  padding: 20px;
  background-color: $body-background;
  border-radius: 4px;
}

.avatar {
  grid-area: avatar;
  height: $image-size;
}

.summary {
  grid-area: summary;
  margin-left: 20px;
}

.picture {
  grid-area: picture;
  height: $image-size;
  cursor: pointer;
  margin-left: 20px;
}

.private-message {
  grid-area: private;
  margin-top: 10px;
  padding: 20px;
  border: 1px solid $hover-private-message;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: $hover-private-message;
  }
}

.name {
  color: $name-text;
  font-weight: 800;
  cursor: pointer;

  &:hover {
    color: $link;
  }
}

.post-title {
  font-weight: 800;
  cursor: pointer;

  &:hover {
    color: $link;
  }
}

.group {
  font-weight: 800;
  color: $link;
  cursor: pointer;
}

.time {
  color: $date;
  margin-top: 4px;
}

.unread-badge::after {
  display: inline-block;
  content: "";
  height: 8px;
  width: 8px;
  background-color: $red;
  border-radius: 50%;
  margin-left: 6px;
  vertical-align: middle;
}
