@use "colors" as c;

@function main-margin-top($device) {
  $ratio: 0.75;
  $dimensions: (
    "mobile": (
      "header": 50px,
      "hero-x": 750,
      "hero-y": 600,
    ),
    "desktop": (
      "header": 70px,
      "hero-x": 1440,
      "hero-y": 400,
    ),
  );

  $sizes: map-get($dimensions, $device);

  $display-height: calc(
    100vw * map-get($sizes, "hero-y") / map-get($sizes, "hero-x")
  );

  @return calc(($display-height * $ratio) - map-get($sizes, "header"));
}

main {
  text-align: center;
  max-width: 768px;
  margin-inline: auto;

  display: grid;
  gap: 30px;
}

.desktop main {
  margin-top: clamp(60px, main-margin-top("desktop"), 350px);
}

.mobile main {
  margin-top: clamp(150px, main-margin-top("mobile"), 450px);
}

@mixin card {
  background-color: c.$white;
  border-radius: 8px;
  border: 1px solid #000f;
}
