@use "colors" as c;
@use "main";

.metrics {
  @include main.card;
  padding: 40px 20px;

  ul {
    list-style: none;
  }

  .value {
    display: block;
    font: {
      weight: 700;
      size: 36px;
    }
    color: c.$black;
    margin-bottom: 10px;
  }

  li {
    margin-bottom: 20px;
  }

  li::after {
    content: "";
    width: 100px;
    height: 24px;
    border-bottom: 1px solid #0003;
    display: block;
    margin: 0 auto;
  }

  li:last-child {
    &::after {
      display: none;
    }
  }
}

.desktop .metrics {
  padding: 50px;

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
  }

  li {
    border-right: 1px solid #0003;
  }

  li:last-child {
    border-right: none;
  }

  li::after {
    display: none;
  }
}
