.mobile-menu {
  border: none;
  margin: 0 auto 0;
  max-width: unset;
  max-height: unset;
  width: 100%;
  font-size: 18px;
  align-self: start;
  background-color: transparent;

  &::backdrop {
    background-color: #0007;
  }

  nav {
    animation: expand ease-in 0.2s;
    transform-origin: top;
    border-radius: 8px;
    background-color: #fff;
    width: 320px;
    margin: 50px auto 0;
  }

  ul {
    animation: fadeIn 0.2s ease-in 0.2s forwards;
    opacity: 0;
  }

  li {
    border-bottom: 1px solid #0001;
  }

  a {
    display: block;
    padding: 20px;

    &:hover {
      background-color: #0001;
    }
  }

  .menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px 0;
  }
}

@keyframes expand {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
