@use "colors" as c;
@use "main";

.pledges {
  text-align: left;
  margin-inline: auto;
  color: c.$dark-gray;
  margin-top: main.main-margin-top("desktop");
  margin-top: 50px;

  background-color: transparent;
  border: none;
  border-radius: 8px;
  position: relative;
  overflow: visible;
  animation: expand 0.3s ease-in;
  transform-origin: top;

  .margin-wrapper {
    position: relative;
    @include main.card;
    max-width: 768px;
    border: 1px solid #0001;

    & > * {
      opacity: 0;
      animation: fadeIn 0.2s ease-in 0.3s forwards;
    }
  }

  .close {
    display: block;
    margin-left: auto;
    position: absolute;
    right: 20px;
    &:hover {
      path {
        opacity: 1;
      }
    }
  }

  &::backdrop {
    background-color: #0009;
  }
}

.desktop .pledges {
  .margin-wrapper {
    padding: 50px;

    & > p {
      margin-bottom: 30px;
    }
  }

  h2 {
    margin-bottom: 16px;
  }

  .close {
    top: 20px;
  }
}

.mobile .pledges {
  font-size: 14px;
  line-height: 24px;

  .margin-wrapper {
    padding: 30px 20px;

    & > p {
      margin-bottom: 20px;
    }
  }

  h2 {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .close {
    top: 30px;
  }
}

@keyframes expand {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
