@use "main";

.summary {
  @include main.card;

  h1 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 14px;
  }

  .description {
    margin-bottom: 30px;
    line-height: 24px;
  }

  .mastercraft-logo {
    margin-top: -28px;
  }

  .actions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.desktop .summary {
  padding: 0 50px 50px;
}

.mobile .summary {
  padding: 0 20px 30px;

  h1 {
    font-size: 22px;
    margin-top: 20px;
  }

  .description {
    font-size: 16px;
  }
}
