@import "colors";
@font-face {
  font-family: "Roboto";
  src: url("/src/projects/junior/newsletter-sign-up-with-success-message-main/src/assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/projects/junior/newsletter-sign-up-with-success-message-main/src/assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font: {
    family: "Roboto";
    size: 16px;
  }

  background-color: $charcoal-grey;
  color: $dark-slate-grey;
  height: 100vh;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background: {
    image: url("/src/projects/junior/newsletter-sign-up-with-success-message-main/src/assets/images/icon-list.svg");
    repeat: no-repeat;
  }
  left: -30px;
}

li {
  position: relative;
  margin-left: 30px;
  margin-bottom: 20px;
}

.app {
  background-color: $white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: max-content;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
}

.sign-up, .illustration {
  max-width: 400px;
}

.sign-up {
  padding: 20px;
  h1 {
    font-size: 44px;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;
  }
}

.illustration {
  img {
    display: block;
  }
}