@import "colors";
@import "success";
@font-face {
  font-family: "Roboto";
  src: url("/src/projects/junior/newsletter-sign-up-with-success-message-main/src/assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/projects/junior/newsletter-sign-up-with-success-message-main/src/assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font: {
    family: "Roboto";
    size: 16px;
  }

  background-color: $charcoal-grey;
  color: $dark-slate-grey;
  height: 100vh;
  // padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 36px;
}

li::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background: {
    image: url("/src/projects/junior/newsletter-sign-up-with-success-message-main/src/assets/images/icon-list.svg");
    repeat: no-repeat;
  }
  left: -30px;
}

li {
  position: relative;
  margin-left: 30px;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  font-size: 12px;
}

input {
  padding: 16px;
  border-radius: 6px;
  border-style: solid;
}

button {
  width: 100%;
  background-color: $dark-slate-grey;
  color: $white;
  font-weight: bold;
  border: none;
  padding: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.app {
  background-color: $white;
  display: grid;
  grid-template-columns: 5fr 4fr;
  align-items: center;
  max-width: 880px;
  margin: 0 auto;
  padding: 20px;
  padding-left: 0;
  border-radius: 20px;
}

.sign-up {
  padding: 60px;

  h1 {
    font-size: 54px;
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 20px;
  }
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 30px;
}

.illustration {
  img {
    display: block;
    width: 100%;
  }
}

.container {
  container-type: inline-size;
}

.illustration {
  .mobile {
    display: none;
  }
}

@container (width < 850px) {
  .app {
    // grid-template-columns: 1fr;
    padding: 0;
    border-radius: 0px;
    display: flex;
    flex-direction: column-reverse;
  }

  .sign-up {
    max-width: 375px;
    padding: 30px 20px;

    h1 {
      font-size: 38px;
    }
  }

  .illustration {
    .desktop {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
}
