@import url("https://fonts.googleapis.com/css?family=Commissioner:400");
@import url("https://fonts.googleapis.com/css?family=Commissioner:500");
@import url("https://fonts.googleapis.com/css?family=Commissioner:700");
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.icon {
  cursor: pointer;
}

.mobile header {
  padding-top: 30px;
}

.desktop header {
  padding-top: 50px;
}

header.hidden > img {
  visibility: hidden;
}

nav {
  font-weight: 500;
}
nav ul {
  list-style: none;
  display: flex;
}
nav a {
  text-decoration: none;
}

.desktop nav ul {
  gap: 30px;
}
.desktop nav a {
  color: #fff;
}

.mobile nav ul {
  flex-direction: column;
}
.mobile nav a {
  color: hsl(0, 0%, 0%);
}

.mobile-menu {
  border: none;
  margin: 0 auto 0;
  max-width: unset;
  max-height: unset;
  width: 100%;
  font-size: 18px;
  align-self: start;
  background-color: transparent;
}
.mobile-menu::backdrop {
  background-color: rgba(0, 0, 0, 0.4666666667);
}
.mobile-menu nav {
  animation: expand ease-in 0.2s;
  transform-origin: top;
  border-radius: 8px;
  background-color: #fff;
  width: 320px;
  margin: 50px auto 0;
}
.mobile-menu ul {
  animation: fadeIn 0.2s ease-in 0.2s forwards;
  opacity: 0;
}
.mobile-menu li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.0666666667);
}
.mobile-menu a {
  display: block;
  padding: 20px;
}
.mobile-menu a:hover {
  background-color: rgba(0, 0, 0, 0.0666666667);
}
.mobile-menu .menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px 0;
}

@keyframes expand {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
main {
  text-align: center;
  max-width: 768px;
  margin-inline: auto;
  display: grid;
  gap: 30px;
}

.desktop main {
  margin-top: clamp(60px, (27.7777777778vw - 70px) * 0.75, 350px);
}

.mobile main {
  margin-top: clamp(150px, (80vw - 50px) * 0.7666666667, 300px);
}

.metrics {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.0666666667);
}
.metrics ul {
  list-style: none;
}
.metrics .value {
  display: block;
  font-weight: 700;
  font-size: 36px;
  color: hsl(0, 0%, 0%);
  margin-bottom: 10px;
}
.metrics li {
  margin-bottom: 20px;
}
.metrics li::after {
  content: "";
  width: 100px;
  height: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto;
}
.metrics li:last-child::after {
  display: none;
}

.desktop .metrics {
  padding: 50px;
  text-align: left;
}
.desktop .metrics ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.summary {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.0666666667);
}
.summary h1 {
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 14px;
}
.summary .description {
  margin-bottom: 30px;
  line-height: 24px;
}
.summary .mastercraft-logo {
  margin-top: -28px;
}
.summary .actions {
  display: flex;
  justify-content: space-between;
}

.desktop .summary {
  padding: 0 50px 50px;
}

.mobile .summary {
  padding: 0 20px 30px;
}
.mobile .summary h1 {
  font-size: 22px;
  margin-top: 20px;
}
.mobile .summary .description {
  font-size: 14px;
}

.bookmark {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: hsl(0, 0%, 48%);
  font-weight: 700;
  font-size: 16px;
  border: none;
  border-radius: 28px;
  background-color: rgba(0, 0, 0, 0.0666666667);
}
.bookmark img {
  display: block;
}
.bookmark p {
  padding-left: 18px;
  padding-right: 24px;
}
.bookmark:hover {
  opacity: 0.8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Commissioner";
  font-weight: 400;
  font-size: 16px;
  color: hsl(0, 0%, 48%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(0, 0%, 0%);
}

button.primary {
  background-color: hsl(176, 50%, 47%);
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border: none;
  padding: 18px 34px;
  border-radius: 28px;
  cursor: pointer;
}
button.primary:hover {
  background-color: hsl(176, 72%, 28%);
}

.crowdfund {
  max-width: 1920px;
  margin: 0 auto;
  padding-inline: 20px;
}

.crowdfund.desktop {
  background: #fafafa no-repeat top center/100% url("src/projects/junior/crowdfunding-product-page-main/src/assets/images/image-hero-desktop.jpg");
}

.crowdfund.mobile {
  background: #fafafa no-repeat top center/100% url("src/projects/junior/crowdfunding-product-page-main/src/assets/images/image-hero-mobile.jpg");
}

/*# sourceMappingURL=index.css.map */
