@import url("https://fonts.googleapis.com/css?family=Commissioner:400");
@import url("https://fonts.googleapis.com/css?family=Commissioner:500");
@import url("https://fonts.googleapis.com/css?family=Commissioner:700");
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.icon {
  cursor: pointer;
}

.mobile header {
  padding-top: 30px;
}

.desktop header {
  padding-top: 50px;
}

header.hidden > img {
  visibility: hidden;
}

nav {
  font-weight: 500;
}
nav ul {
  list-style: none;
  display: flex;
}
nav a {
  text-decoration: none;
}

.desktop nav ul {
  gap: 30px;
}
.desktop nav a {
  color: #fff;
}

.mobile nav ul {
  flex-direction: column;
}
.mobile nav a {
  color: hsl(0, 0%, 0%);
}

.mobile-menu {
  border: none;
  margin: 0 auto 0;
  max-width: unset;
  max-height: unset;
  width: 100%;
  font-size: 18px;
  align-self: start;
  background-color: transparent;
}
.mobile-menu::backdrop {
  background-color: rgba(0, 0, 0, 0.4666666667);
}
.mobile-menu nav {
  animation: expand ease-in 0.2s;
  transform-origin: top;
  border-radius: 8px;
  background-color: #fff;
  width: 320px;
  margin: 50px auto 0;
}
.mobile-menu ul {
  animation: fadeIn 0.2s ease-in 0.2s forwards;
  opacity: 0;
}
.mobile-menu li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.0666666667);
}
.mobile-menu a {
  display: block;
  padding: 20px;
}
.mobile-menu a:hover {
  background-color: rgba(0, 0, 0, 0.0666666667);
}
.mobile-menu .menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px 0;
}

@keyframes expand {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (width <= 320px) {
  .mobile-menu nav {
    border-radius: 0;
  }
}
main {
  text-align: center;
  max-width: 768px;
  margin-inline: auto;
  margin-bottom: 50px;
  display: grid;
  gap: 30px;
}

.desktop main {
  margin-top: clamp(60px, 20.8333333333vw - 70px, 350px);
}

.mobile main {
  margin-top: clamp(150px, 60vw - 50px, 450px);
}

.summary {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.0666666667);
}
.summary h1 {
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 14px;
}
.summary .description {
  margin-bottom: 30px;
  line-height: 24px;
}
.summary .mastercraft-logo {
  margin-top: -28px;
}
.summary .actions {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.desktop .summary {
  padding: 0 50px 50px;
}

.mobile .summary {
  padding: 0 20px 30px;
}
.mobile .summary h1 {
  font-size: 22px;
  margin-top: 20px;
}
.mobile .summary .description {
  font-size: 16px;
}

.bookmark {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: hsl(0, 0%, 48%);
  font-weight: 700;
  font-size: 14px;
  border: none;
  border-radius: 28px;
  background-color: rgba(0, 0, 0, 0.0666666667);
}
.bookmark img {
  display: block;
}
.bookmark p {
  padding-left: 18px;
  padding-right: 24px;
}
.bookmark:hover {
  opacity: 0.8;
}
.bookmark.selected {
  color: hsl(176, 72%, 28%);
}
.bookmark.selected path {
  fill: #fff;
}
.bookmark.selected circle {
  fill: hsl(176, 72%, 28%);
}
.bookmark.selected svg {
  animation: pulse ease-in 0.2s;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.metrics {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.0666666667);
  padding: 40px 20px;
}
.metrics ul {
  list-style: none;
}
.metrics .value {
  display: block;
  font-weight: 700;
  font-size: 36px;
  color: hsl(0, 0%, 0%);
  margin-bottom: 10px;
}
.metrics li {
  margin-bottom: 20px;
}
.metrics li::after {
  content: "";
  width: 100px;
  height: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto;
}
.metrics li:last-child::after {
  display: none;
}

.desktop .metrics {
  padding: 50px;
}
.desktop .metrics ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}
.desktop .metrics li {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.desktop .metrics li:last-child {
  border-right: none;
}
.desktop .metrics li::after {
  display: none;
}

.progress-bar,
.progress {
  height: 14px;
  border-radius: 7px;
}

.progress-bar {
  background-color: rgba(0, 0, 0, 0.0666666667);
  margin-top: 30px;
}

.progress {
  background-color: hsl(176, 50%, 47%);
}

.rewards {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.0666666667);
}

.desktop .rewards {
  padding: 50px;
}

.mobile .rewards {
  padding: 40px 20px;
}

.about {
  text-align: left;
  padding-bottom: 16px;
}
.about > * {
  margin-bottom: 26px;
}
.about h3 {
  font-size: 20px;
}

.reward {
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.1333333333);
  border-radius: 8px;
}
.reward.disabled {
  opacity: 0.5;
}
.reward.disabled button:disabled {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: not-allowed;
}
.reward h3 {
  grid-area: title;
}
.reward .minimum {
  color: hsl(176, 50%, 47%);
  font-weight: 500;
  grid-area: minimum;
}
.reward .description {
  grid-area: description;
}
.reward .remaining {
  display: flex;
  gap: 10px;
  grid-area: remaining;
}
.reward button {
  grid-area: button;
}
.reward .remaining span {
  font-weight: 700;
  font-size: 32px;
  color: hsl(0, 0%, 0%);
}

.desktop .reward {
  margin-bottom: 30px;
  display: grid;
  grid-template-areas: "title minimum" "description description" "remaining button";
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 30px;
}
.desktop .reward:last-child {
  margin-bottom: 0;
}
.desktop .reward .minimum {
  text-align: right;
}
.desktop .reward button {
  width: max-content;
  justify-self: flex-end;
}
.desktop .reward h3 {
  font-size: 18px;
}

.mobile .reward {
  padding: 20px;
  margin-bottom: 20px;
}
.mobile .reward:last-child {
  margin-bottom: 0;
}
.mobile .reward h3 {
  font-size: 16px;
}
.mobile .reward .minimum {
  margin-bottom: 20px;
}
.mobile .reward .description,
.mobile .reward .remaining {
  margin-bottom: 30px;
}

.pledges {
  text-align: left;
  margin-inline: auto;
  color: hsl(0, 0%, 48%);
  margin-top: calc(20.8333333333vw - 70px);
  margin-top: 50px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  position: relative;
  overflow: visible;
  animation: expand 0.3s ease-in;
  transform-origin: top;
}
.pledges.success {
  text-align: center;
  margin-top: clamp(50px, 25vh, 500px);
  position: fixed;
}
.pledges.success .margin-wrapper {
  max-width: 540px;
}
.pledges.success .margin-wrapper > * {
  animation: none;
}
.pledges .margin-wrapper {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.0666666667);
  max-width: 768px;
  border: 1px solid rgba(0, 0, 0, 0.0666666667);
}
.pledges .margin-wrapper > * {
  animation: fadeIn 0.2s ease-in 0.3s backwards;
}
.pledges .close {
  display: block;
  margin-left: auto;
  position: absolute;
  right: 20px;
}
.pledges .close:hover path {
  opacity: 1;
}
.pledges::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.desktop .pledges.success .margin-wrapper {
  padding-top: 40px;
}
.desktop .pledges.success img {
  width: 80px;
  margin-bottom: 30px;
}
.desktop .pledges.success h3 {
  font-size: 24px;
  margin-bottom: 24px;
}
.desktop .pledges .margin-wrapper {
  padding: 50px;
}
.desktop .pledges .margin-wrapper > p {
  margin-bottom: 30px;
}
.desktop .pledges h2 {
  margin-bottom: 16px;
}
.desktop .pledges .close {
  top: 20px;
}

.mobile .pledges {
  font-size: 14px;
  line-height: 24px;
}
.mobile .pledges.success img {
  margin-bottom: 16px;
}
.mobile .pledges.success h3 {
  font-size: 20px;
}
.mobile .pledges.success p {
  padding-inline: 4px;
  margin-top: 24px;
}
.mobile .pledges.success button {
  margin-top: 10px;
  padding-block: 16px;
}
.mobile .pledges .margin-wrapper {
  padding: 30px 20px;
}
.mobile .pledges .margin-wrapper > p {
  margin-bottom: 20px;
}
.mobile .pledges h2 {
  font-size: 18px;
  margin-bottom: 16px;
}
.mobile .pledges .close {
  top: 30px;
}

@keyframes expand {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.pledge {
  border: 1px solid rgba(0, 0, 0, 0.1333333333);
  border-radius: 8px;
  cursor: pointer;
  display: grid;
  align-items: center;
}
.pledge.selected {
  border: none;
  outline: 2px solid hsl(176, 50%, 47%);
  cursor: default;
}
.pledge.selected:hover h3 {
  color: initial;
}
.pledge.selected:hover .radio {
  border-color: rgba(0, 0, 0, 0.1333333333);
}
.pledge.selected .minimum {
  font-weight: 700;
}
.pledge.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.pledge:hover h3 {
  color: hsl(176, 50%, 47%);
}
.pledge:hover .radio {
  border-color: hsl(176, 50%, 47%);
}
.pledge h3 {
  font-size: 16px;
  grid-area: title;
}
.pledge .minimum {
  color: hsl(176, 50%, 47%);
  font-weight: 500;
  grid-area: minimum;
}
.pledge .description {
  grid-area: description;
}
.pledge .remaining {
  grid-area: remaining;
}
.pledge .remaining span {
  font-weight: 700;
  color: hsl(0, 0%, 0%);
  font-size: 18px;
  margin-right: 6px;
}
.pledge form {
  grid-area: form;
  display: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1333333333);
  align-items: center;
}
.pledge form.error input {
  border: 1px solid #f76262;
  background-color: #ffdddd;
}
.pledge form.error .error-message {
  display: block;
}
.pledge form label {
  grid-area: label;
}
.pledge form .input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.pledge form .input-wrapper::before {
  content: "$";
  position: absolute;
  color: hsl(0, 0%, 48%);
  left: 30px;
  cursor: text;
  font-size: 16px;
}
.pledge form input {
  grid-area: input;
  height: 48px;
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1333333333);
  font-size: 16px;
  font-weight: 700;
  font-family: "Commissioner";
  color: hsl(0, 0%, 0%);
  padding-left: 50px;
  padding-right: 10px;
}
.pledge form button {
  grid-area: button;
  padding: 16px 0;
}
.pledge form .error-message {
  grid-area: error;
  color: #f76262;
  display: none;
}
.pledge form input,
.pledge form button {
  width: 116px;
}

.mobile .pledge {
  margin-bottom: 20px;
  padding: 30px 20px;
  grid-template-areas: "radio title" "radio minimum" "description description" "remaining remaining" "form form";
  grid-template-columns: max-content 1fr;
  column-gap: 16px;
  align-items: center;
}
.mobile .pledge.selected form {
  display: flex;
}
.mobile .pledge.empty form label,
.mobile .pledge.empty form input,
.mobile .pledge.empty form .input-wrapper,
.mobile .pledge.empty form .error-message {
  display: none;
}
.mobile .pledge.empty form button {
  margin-bottom: 0;
}
.mobile .pledge form {
  text-align: center;
  margin-inline: -20px;
  padding-inline: 20px;
  padding-top: 20px;
  margin-top: 20px;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
}
.mobile .pledge form label {
  margin-bottom: 16px;
  width: 100%;
}
.mobile .pledge form input {
  justify-self: flex-end;
}
.mobile .pledge form .input-wrapper,
.mobile .pledge form button {
  margin-bottom: 16px;
}
.mobile .pledge form .error-message {
  width: 100%;
}
.mobile .pledge .remaining {
  font-size: 16px;
  margin-top: 20px;
}
.mobile .pledge .description {
  margin-top: 20px;
}
.mobile .pledge .radio {
  grid-row: 1/span 2;
}

.desktop .pledge {
  margin-bottom: 30px;
  padding: 30px;
  grid-template-areas: "radio title minimum remaining" ". description description description" "form form form form";
  grid-template-columns: max-content max-content 1fr max-content;
  column-gap: 30px;
}
.desktop .pledge.selected form {
  display: grid;
}
.desktop .pledge.empty form label,
.desktop .pledge.empty form input,
.desktop .pledge.empty form .input-wrapper,
.desktop .pledge.empty form .error-message {
  visibility: hidden;
}
.desktop .pledge .description {
  margin-top: 16px;
}
.desktop .pledge form {
  grid-template-areas: "label input button" "error error error";
  grid-template-columns: 1fr min-content min-content;
  margin-inline: -30px;
  padding-inline: 30px;
  padding-top: 20px;
  margin-top: 36px;
  column-gap: 20px;
}
.desktop .pledge form .error-message {
  text-align: right;
  margin-top: 16px;
}

.radio {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1333333333);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: "radio";
}
.radio .switch {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.selected .radio .switch {
  background-color: hsl(176, 50%, 47%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Commissioner";
  font-weight: 400;
  font-size: 16px;
  color: hsl(0, 0%, 48%);
  line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(0, 0%, 0%);
}

button.primary {
  background-color: hsl(176, 50%, 47%);
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border: none;
  padding: 18px 34px;
  border-radius: 28px;
  cursor: pointer;
}
button.primary:hover {
  background-color: hsl(176, 72%, 28%);
}

.crowdfund {
  max-width: 1920px;
  margin: 0 auto;
  padding-inline: 20px;
}

.crowdfund.desktop {
  background: #fafafa no-repeat top center/100% url("src/projects/junior/crowdfunding-product-page-main/src/assets/images/image-hero-desktop.jpg");
}

.crowdfund.mobile {
  background: #fafafa no-repeat top center/100% url("src/projects/junior/crowdfunding-product-page-main/src/assets/images/image-hero-mobile.jpg");
}

.mobile {
  line-height: 26px;
}

/*# sourceMappingURL=index.css.map */
