@import "https://fonts.googleapis.com/css?family=Space+Mono:700";
@import "colors";
@import "calculator";
@import "output";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: {
    size: 24px;
    family: "Space Mono";
    weight: 700;
  }
  background-color: $light-grayish-cyan;
  color: $dark-grayish-cyan;
}

header {
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
