@import "https://fonts.googleapis.com/css?family=Rubik:300";
@import "https://fonts.googleapis.com/css?family=Rubik:400";
@import "https://fonts.googleapis.com/css?family=Rubik:500";
.profile {
  background-color: hsl(235, 46%, 20%);
  border-radius: 18px;
  width: 300px;
  grid-area: profile;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile ul {
  color: hsl(236, 100%, 87%);
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  gap: 20px;
  list-style-type: none;
  padding: 30px;
}
.profile ul li {
  cursor: pointer;
  width: min-content;
}
.profile ul li.active {
  color: #fff;
}
.profile ul li:hover {
  color: #fff;
}

.avatar {
  background-color: hsl(246, 80%, 60%);
  border-radius: 18px;
  padding: 30px;
  flex: 1;
}
.avatar img {
  border-radius: 50%;
  outline: 3px solid #fff;
  width: 80px;
  height: 80px;
  margin-bottom: 40px;
}
.avatar p {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 40px;
}

.report-name {
  font-size: 40px;
  font-weight: 300;
  display: block;
}

@media (width < 1300px) {
  .profile {
    width: 100%;
  }
  .profile ul {
    flex-direction: row;
    justify-content: center;
  }
  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  .avatar img {
    width: 50px;
    height: 50px;
    margin-bottom: 0;
  }
  .avatar p {
    margin-bottom: 0;
    font-size: 12px;
  }
  .report-name {
    font-size: 20px;
    font-weight: 300;
    margin-top: 4px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(226, 43%, 10%);
  color: #fff;
  font-family: "Rubik";
  font-size: 18px;
  padding: 20px;
}

.time-tracking-dashboard {
  display: grid;
  grid-template-areas: "profile tracking-cards";
  grid-template-columns: 300px 1fr;
  gap: 20px;
  max-width: 1260px;
  margin: 0 auto;
}

.tracking-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.tracking {
  border-radius: 18px;
  overflow: clip;
  display: grid;
}
.tracking .header {
  height: 80px;
  margin-bottom: -30px;
}
.tracking img {
  display: block;
  margin-left: auto;
  margin-right: 20px;
  position: relative;
}
.tracking:hover {
  cursor: pointer;
}
.tracking:hover .card {
  background-color: #272c68;
}

.card {
  background-color: hsl(235, 46%, 20%);
  border-radius: 18px;
  padding: 30px;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-areas: "category ellipsis" "time time" "previous previous";
}
.card h6 {
  grid-area: category;
  font-weight: 500;
  font-size: 18px;
}
.card .time {
  grid-area: time;
  font-size: 54px;
  font-weight: 300;
  margin: 14px 0 8px;
}
.card .previous {
  grid-area: previous;
  font-size: 14px;
  color: hsl(236, 100%, 87%);
}

.ellipsis {
  width: min-content;
  grid-area: ellipsis;
  justify-self: flex-end;
}
.ellipsis:hover {
  transform: scale(1.1);
}
.ellipsis:hover path {
  fill: #fff;
}

.work {
  background-color: hsl(15, 100%, 70%);
}

.study {
  background-color: hsl(348, 100%, 68%);
}

.play {
  background-color: hsl(195, 74%, 62%);
}

.exercise {
  background-color: hsl(145, 58%, 55%);
}

.social {
  background-color: hsl(264, 64%, 52%);
}

.self-care {
  background-color: hsl(43, 84%, 65%);
}

@media (width < 1300px) {
  .time-tracking-dashboard {
    grid-template-areas: "profile" "tracking-cards";
    grid-template-columns: none;
  }
  .tracking-cards {
    justify-content: space-evenly;
  }
  .tracking .header {
    height: 70px;
  }
  .card {
    grid-template-areas: "category ellipsis" "time previous";
    align-items: baseline;
    justify-content: space-between;
    padding: 20px;
  }
  .card .time {
    margin: 10px 0 0;
    font-size: 32px;
  }
}

/*# sourceMappingURL=index.css.map */
