@import url("https://fonts.googleapis.com/css?family=Kumbh Sans:400");
@import url("https://fonts.googleapis.com/css?family=Kumbh Sans:700");
header {
  display: grid;
  align-items: center;
}
header button {
  border: none;
  background: none;
  cursor: pointer;
}
header img {
  display: block;
}

.desktop header {
  grid-template-columns: 145px 1fr 22px 50px;
  gap: 50px;
  padding-inline: 20px;
  padding-block: 30px 34px;
  border-bottom: 1px solid #e0e0e6;
}
.desktop header .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.desktop header .avatar:hover {
  outline: 2px solid hsl(26, 100%, 55%);
}

.mobile header {
  grid-template-columns: 16px 1fr 22px 24px;
  gap: 20px;
  padding: 24px;
}
.mobile header .avatar {
  width: 24px;
  height: 24px;
}

.desktop nav ul {
  display: flex;
  gap: 33px;
  gap: min(33px, 3vw);
  font-size: 15px;
}
.desktop nav li:hover {
  position: relative;
}
.desktop nav li:hover::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background: hsl(26, 100%, 55%);
  position: absolute;
  bottom: -50px;
}

.mobile-menu {
  max-width: unset;
  max-height: unset;
  height: 100vh;
  border: none;
  padding: 24px;
  width: 250px;
  animation: slideIn ease-in 0.3s;
}
.mobile-menu img {
  margin-bottom: 40px;
  animation: fadeIn ease-in 0.8s both;
}
.mobile-menu li {
  margin-bottom: 20px;
}
.mobile-menu li:nth-child(1) {
  animation: fadeIn ease-in 0.3s 0.3s both;
}
.mobile-menu li:nth-child(2) {
  animation: fadeIn ease-in 0.3s 0.4s both;
}
.mobile-menu li:nth-child(3) {
  animation: fadeIn ease-in 0.3s 0.5s both;
}
.mobile-menu li:nth-child(4) {
  animation: fadeIn ease-in 0.3s 0.6s both;
}
.mobile-menu li:nth-child(5) {
  animation: fadeIn ease-in 0.3s 0.7s both;
}
.mobile-menu a {
  font-weight: bold;
}
.mobile-menu::backdrop {
  background: hsla(0, 0%, 0%, 0.75);
}

@keyframes slideIn {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slideshow img {
  display: block;
}

.mobile .slideshow {
  position: relative;
}
.mobile .slideshow .carousel {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 100%);
  overflow: hidden;
}
.mobile .slideshow .carousel[data-image="2"] img {
  transform: translateX(-100%);
}
.mobile .slideshow .carousel[data-image="3"] img {
  transform: translateX(-200%);
}
.mobile .slideshow .carousel[data-image="4"] img {
  transform: translateX(-300%);
}
.mobile .slideshow img {
  width: 100%;
  transition: transform ease-in-out 0.4s;
}
.mobile .slideshow button {
  border: none;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer;
}
.mobile .slideshow button:hover path {
  stroke: hsl(26, 100%, 55%);
}
.mobile .slideshow button:disabled {
  pointer-events: none;
  opacity: 0.5;
}
.mobile .slideshow .actions {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 14px;
  height: 100%;
}

.product-info {
  padding-inline: 20px;
}
.product-info .brand {
  text-transform: uppercase;
  color: hsl(26, 100%, 55%);
  font-size: 14px;
  letter-spacing: 1px;
}
.product-info .name {
  color: hsl(220, 13%, 13%);
}
.product-info .summary {
  line-height: 1.6;
}
.product-info .price .current {
  color: hsl(220, 13%, 13%);
  font-weight: 700;
  font-size: 30px;
}
.product-info .price .discount {
  font-weight: 700;
  color: hsl(26, 100%, 55%);
  background-color: hsl(25, 100%, 94%);
  border-radius: 4px;
  padding-inline: 7px;
  padding-block: 2px;
  display: inline-block;
}
.product-info .price .previous {
  color: hsl(220, 14%, 75%);
  font-weight: 700;
  text-decoration: line-through;
}

.mobile .product-info {
  margin-top: 26px;
  margin-bottom: 26px;
}
.mobile .product-info .brand {
  margin-bottom: 14px;
}
.mobile .product-info .name {
  font-size: 30px;
  margin-bottom: 0.5em;
}
.mobile .product-info .summary {
  margin-bottom: 1.8em;
}
.mobile .product-info .price {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 375px;
  margin-inline: auto;
}
.mobile .product-info .price .previous {
  margin-left: auto;
}

.add-to-cart .quantity-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(87, 231, 250);
  background-color: hsl(223, 64%, 98%);
  border-radius: 8px;
}
.add-to-cart .quantity-input button {
  border: none;
  width: 60px;
  height: 54px;
  background-color: transparent;
}
.add-to-cart .quantity-input .quantity {
  font-weight: 700;
  font-size: 16px;
  border: none;
  text-align: center;
  height: 54px;
  background-color: hsl(223, 64%, 98%);
  color: hsl(220, 13%, 13%);
}
.add-to-cart .cart-push {
  border: none;
  height: 54px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  font-size: 16px;
}

.mobile .add-to-cart {
  width: 100%;
  padding-inline: 20px;
  max-width: 400px;
  margin-inline: auto;
  margin-bottom: 30px;
}
.mobile .add-to-cart .quantity-input {
  margin-bottom: 16px;
}
.mobile .add-to-cart .cart-push {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ecommerce-product-page {
  font-family: "Kumbh Sans";
  font-size: 16px;
  color: hsl(219, 9%, 45%);
  margin-inline: auto;
  max-width: 1150px;
}
.ecommerce-product-page ul {
  list-style: none;
}
.ecommerce-product-page a {
  color: inherit;
  text-decoration: none;
}
.ecommerce-product-page button {
  cursor: pointer;
}
.ecommerce-product-page button.primary {
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}
.ecommerce-product-page input::-webkit-outer-spin-button,
.ecommerce-product-page input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ecommerce-product-page input[type=number] {
  -moz-appearance: textfield;
}

/*# sourceMappingURL=index.css.map */
