@import url("https://fonts.googleapis.com/css?family=Kumbh Sans:400");
@import url("https://fonts.googleapis.com/css?family=Kumbh Sans:700");
header {
  display: grid;
  align-items: center;
  position: relative;
}
header button {
  border: none;
  background: none;
  cursor: pointer;
}
header img {
  display: block;
}
header .cart-btn {
  position: relative;
}
header .cart-btn span {
  position: absolute;
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  padding: 0px 8px 1px;
  border-radius: 10px;
  top: -10px;
}

.desktop header {
  grid-template-columns: 145px 1fr 22px 50px;
  gap: 50px;
  margin-inline: 20px;
  padding-block: 30px 34px;
  border-bottom: 1px solid #e0e0e6;
}
.desktop header .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.desktop header .avatar:hover {
  outline: 2px solid hsl(26, 100%, 55%);
}

.mobile header {
  grid-template-columns: 16px 1fr 22px 24px;
  gap: 20px;
  padding: 24px;
}
.mobile header .avatar {
  width: 24px;
  height: 24px;
}

.desktop nav ul {
  display: flex;
  gap: 33px;
  gap: min(33px, 3vw);
  font-size: 15px;
}
.desktop nav li:hover {
  position: relative;
}
.desktop nav li:hover::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background: hsl(26, 100%, 55%);
  position: absolute;
  bottom: -50px;
}

.mobile-menu {
  max-width: unset;
  max-height: unset;
  height: 100vh;
  border: none;
  padding: 24px;
  width: 250px;
  animation: slideIn ease-in 0.3s;
}
.mobile-menu button {
  border: none;
  background: none;
  margin-bottom: 40px;
}
.mobile-menu img {
  animation: fadeIn ease-in 0.8s both;
  display: block;
}
.mobile-menu li {
  margin-bottom: 20px;
}
.mobile-menu li:nth-child(1) {
  animation: fadeIn ease-in 0.3s 0.3s both;
}
.mobile-menu li:nth-child(2) {
  animation: fadeIn ease-in 0.3s 0.4s both;
}
.mobile-menu li:nth-child(3) {
  animation: fadeIn ease-in 0.3s 0.5s both;
}
.mobile-menu li:nth-child(4) {
  animation: fadeIn ease-in 0.3s 0.6s both;
}
.mobile-menu li:nth-child(5) {
  animation: fadeIn ease-in 0.3s 0.7s both;
}
.mobile-menu a {
  font-weight: bold;
}
.mobile-menu::backdrop {
  background: hsla(0, 0%, 0%, 0.75);
}

@keyframes slideIn {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.lightbox {
  max-width: unset;
  max-height: unset;
  height: 100vh;
  width: 100%;
  border: none;
  background: transparent;
}
.lightbox .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: max-content;
  margin-inline: auto;
}
.lightbox .close-btn {
  z-index: 1;
  border: none;
  background: transparent;
  margin-left: auto;
  margin-right: 25px;
  margin-bottom: 14px;
  margin-top: 50px;
}
.lightbox .close-btn:hover path {
  fill: hsl(26, 100%, 55%);
}
.lightbox::backdrop {
  background: hsla(0, 0%, 0%, 0.75);
}

.lightbox .image-picker {
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 2;
  max-width: 450px;
  margin-top: 30px;
}
.lightbox .image-picker img {
  display: block;
}
.lightbox .image-picker li,
.lightbox .image-picker li img {
  border-radius: 10%;
}
.lightbox .image-picker button {
  border: none;
  background: none;
  display: block;
}
.lightbox .image-picker li {
  cursor: pointer;
  max-width: 20%;
  background-color: #fff;
}
.lightbox .image-picker li:not(.selected):hover img {
  opacity: 0.7;
}
.lightbox .image-picker li img {
  width: 100%;
}
.lightbox .image-picker .selected {
  outline: 2px solid hsl(26, 100%, 55%);
}
.lightbox .image-picker .selected img {
  filter: opacity(0.4);
}

.desktop main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 80px;
  gap: clamp(1px, 25vw - 192px, 70px);
  max-width: 1050px;
  margin-inline: auto;
  margin-top: clamp(40px, 8vw, 85px);
}
.desktop main > .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slideshow {
  position: relative;
}
.slideshow .carousel {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 100%);
  overflow: hidden;
}
.slideshow .carousel[data-image="1"] img {
  transform: translateX(-100%);
}
.slideshow .carousel[data-image="2"] img {
  transform: translateX(-200%);
}
.slideshow .carousel[data-image="3"] img {
  transform: translateX(-300%);
}
.slideshow img {
  width: 100%;
  transition: transform ease-in-out 0.4s;
  display: block;
}
.slideshow button {
  border: none;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer;
}
.slideshow button:hover path {
  stroke: hsl(26, 100%, 55%);
}
.slideshow button:disabled {
  pointer-events: none;
  opacity: 0.5;
}
.slideshow .actions {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 14px;
  height: 100%;
}

.desktop .slideshow {
  max-width: 540px;
  border-radius: 3%;
  overflow: hidden;
  height: min-content;
  margin-inline: 25px;
}
.desktop .slideshow .actions {
  padding-inline: 0;
  position: fixed;
  width: 540px;
}
.desktop .slideshow button {
  width: 50px;
  height: 50px;
}
.desktop .slideshow .previous {
  position: relative;
  left: -25px;
}
.desktop .slideshow .next {
  position: relative;
  right: -25px;
}

.gallery {
  padding-inline: 20px;
}
.gallery img {
  display: block;
}
.gallery button {
  border: none;
  background: none;
  display: block;
}
.gallery .display-image {
  width: 100%;
  margin-bottom: 5%;
  border-radius: 3.5%;
  cursor: pointer;
}
.gallery li,
.gallery li img {
  border-radius: 10%;
}
.gallery .image-picker {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.gallery li {
  cursor: pointer;
  max-width: 20%;
}
.gallery li:not(.selected):hover {
  opacity: 0.7;
}
.gallery li img {
  width: 100%;
}
.gallery .selected {
  outline: 2px solid hsl(26, 100%, 55%);
}
.gallery .selected img {
  filter: opacity(0.4);
}

.product-info {
  padding-inline: 20px;
}
.product-info .brand {
  text-transform: uppercase;
  color: hsl(26, 100%, 55%);
  font-size: 14px;
  letter-spacing: 1px;
}
.product-info .name {
  color: hsl(220, 13%, 13%);
}
.product-info .summary {
  line-height: 1.6;
}
.product-info .price .current {
  color: hsl(220, 13%, 13%);
  font-weight: 700;
  font-size: 30px;
}
.product-info .price .discount {
  font-weight: 700;
  color: hsl(26, 100%, 55%);
  background-color: hsl(25, 100%, 94%);
  border-radius: 4px;
  padding-inline: 7px;
  padding-block: 2px;
  display: inline-block;
}
.product-info .price .previous {
  color: hsl(220, 14%, 75%);
  font-weight: 700;
  text-decoration: line-through;
}

.desktop .product-info .brand {
  margin-bottom: 14px;
}
.desktop .product-info .name {
  font-size: clamp(24px, 3.1vw, 44px);
  margin-bottom: 0.5em;
}
.desktop .product-info .summary {
  margin-bottom: 1.8em;
}
.desktop .product-info .price {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 20px;
  row-gap: 8px;
  margin-bottom: 2em;
}

.mobile .product-info {
  margin-top: 26px;
  margin-bottom: 26px;
}
.mobile .product-info .brand {
  margin-bottom: 14px;
}
.mobile .product-info .name {
  font-size: 30px;
  margin-bottom: 0.5em;
}
.mobile .product-info .summary {
  margin-bottom: 1.8em;
}
.mobile .product-info .price {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 375px;
  margin-inline: auto;
}
.mobile .product-info .price .previous {
  margin-left: auto;
}

@media (width <= 1050px) {
  .desktop .product-info .price {
    grid-template-columns: max-content max-content 1fr;
  }
  .desktop .product-info .price .previous {
    margin-left: auto;
  }
}
.add-to-cart {
  padding-inline: 20px;
}
.add-to-cart .quantity-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(87, 231, 250);
  background-color: hsl(223, 64%, 98%);
  border-radius: 8px;
}
.add-to-cart .quantity-input button {
  border: none;
  width: 60px;
  height: 54px;
  background-color: transparent;
}
.add-to-cart .quantity-input .quantity {
  font-weight: 700;
  font-size: 16px;
  border: none;
  text-align: center;
  height: 54px;
  background-color: hsl(223, 64%, 98%);
  color: hsl(220, 13%, 13%);
}
.add-to-cart .increment:hover,
.add-to-cart .decrement:hover {
  opacity: 0.65;
}
.add-to-cart .cart-push {
  border: none;
  height: 54px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  font-size: 16px;
}
.add-to-cart .cart-push:hover {
  opacity: 0.7;
}

.desktop .add-to-cart {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 20px;
}
.desktop .add-to-cart input {
  width: 30px;
}

.mobile .add-to-cart {
  width: 100%;
  max-width: 400px;
  margin-inline: auto;
  margin-bottom: 30px;
}
.mobile .add-to-cart .quantity-input {
  margin-bottom: 16px;
}
.mobile .add-to-cart .cart-push {
  width: 100%;
}

.cart {
  position: absolute;
  max-width: 360px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.2);
  right: 0;
  border-radius: 8px;
  padding: 16px;
  z-index: 3;
}
.cart h4 {
  color: hsl(220, 13%, 13%);
  margin-bottom: 1em;
}
.cart hr {
  border: 0;
  border-bottom: 1px solid #e0e0e6;
  margin-inline: -16px;
  margin-bottom: 18px;
}
.cart .item {
  display: flex;
  gap: 18px;
  line-height: 1.5;
  font-size: 15px;
}
.cart .item p {
  margin-right: 0.5em;
}
.cart .thumbnail {
  height: 40px;
  width: 40px;
  border-radius: 4px;
}
.cart .total {
  font-weight: 700;
  color: hsl(220, 13%, 13%);
}
.cart .checkout-btn {
  width: 100%;
  border-radius: 8px;
  height: 50px;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.cart .checkout-btn:hover {
  opacity: 0.7;
}
.cart .empty {
  font-weight: 700;
}

.desktop .cart {
  top: 110px;
}

.mobile .cart {
  left: 0;
  right: 0;
  top: 80px;
  margin-inline: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ecommerce-product-page {
  font-family: "Kumbh Sans";
  font-size: 16px;
  color: hsl(219, 9%, 45%);
  margin-inline: auto;
  max-width: 1150px;
}
.ecommerce-product-page ul {
  list-style: none;
}
.ecommerce-product-page a {
  color: inherit;
  text-decoration: none;
}
.ecommerce-product-page button {
  cursor: pointer;
}
.ecommerce-product-page button.primary {
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}
.ecommerce-product-page input::-webkit-outer-spin-button,
.ecommerce-product-page input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ecommerce-product-page input[type=number] {
  -moz-appearance: textfield;
}

/*# sourceMappingURL=index.css.map */
