@import url("https://fonts.googleapis.com/css?family=Inter:400");
@import url("https://fonts.googleapis.com/css?family=Inter:700");
header {
  font-weight: 700;
  padding-top: 30px;
  background-color: transparent;
  margin-bottom: 40px;
  display: grid;
  grid-template-areas: "header toggle" "followers toggle";
}
header .background {
  position: absolute;
  height: 210px;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  z-index: -1;
}
header h1 {
  font-size: 24px;
  margin-bottom: 4px;
  grid-area: header;
}
header p {
  grid-area: followers;
}
header hr {
  display: none;
  border: none;
  margin-block: 16px;
}

.dark header .background {
  background: hsl(232, 19%, 15%);
}
.dark header label,
.dark header p {
  color: hsl(228, 34%, 66%);
}
.dark header hr {
  border-bottom: 1px solid rgba(139, 151, 198, 0.3);
}

.toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  grid-area: toggle;
}
.toggle label {
  pointer-events: none;
}
.toggle input {
  display: none;
}
.toggle .switch {
  height: 20px;
  width: 40px;
  background: #ccc;
  border-radius: 10px;
  cursor: pointer;
}
.toggle .switch::before {
  content: "";
  display: block;
  height: 14px;
  width: 14px;
  background: hsl(232, 19%, 15%);
  margin-top: 3px;
  margin-left: 3px;
  border-radius: 50%;
  transform: translateX(20px);
  transition: transform 0.3s ease-in-out;
}
.toggle input:checked + .switch {
  background: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
.toggle input:checked + .switch::before {
  transform: translateX(0);
}

@media (width <= 1100px) {
  header {
    display: block;
    margin-bottom: 30px;
  }
  header hr {
    display: block;
  }
  header .toggle {
    justify-content: space-between;
  }
  header .background {
    height: 230px;
  }
}
.accounts {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

@media (width <= 1100px) {
  .accounts {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 525px) {
  .accounts {
    grid-template-columns: 1fr;
  }
}
.account.facebook .flex-wrapper {
  border-top: 4px solid hsl(208, 92%, 53%);
}

.account.twitter .flex-wrapper {
  border-top: 4px solid hsl(203, 89%, 53%);
}

.account.youtube .flex-wrapper {
  border-top: 4px solid hsl(348, 97%, 39%);
}

.account.instagram .flex-wrapper {
  border-image-source: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  border-width: 0;
  border-top-width: 4px;
  border-style: solid;
  border-image-slice: 4;
}

.account {
  overflow: hidden;
  border-radius: 6px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}
.account .flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
  height: 54px;
}
.account .followers {
  font-weight: 400;
  letter-spacing: 5px;
  margin-block: 20px;
}
.account span {
  display: block;
  font-weight: 700;
  letter-spacing: normal;
  font-size: 58px;
}
.account .change {
  margin-bottom: 30px;
}

.dark .account {
  background-color: hsl(228, 28%, 20%);
  color: hsl(228, 34%, 66%);
}
.dark .account span {
  color: hsl(0, 0%, 100%);
}
.dark .account:hover {
  background-color: #333a56;
}

.overview {
  margin-top: 40px;
  padding-bottom: 40px;
}
.overview h1 {
  margin-bottom: 30px;
}
.overview .stats {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
}

@media (width <= 1100px) {
  .overview .stats {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: row;
  }
}
@media (width <= 525px) {
  .overview .stats {
    grid-template-columns: 1fr;
  }
}
.metric {
  grid-area: metric;
}

.icon {
  grid-area: icon;
}

.quantity {
  grid-area: quantity;
}

.change {
  grid-area: change;
}

.stat {
  border-radius: 6px;
  padding: 30px;
  display: grid;
  grid-template-areas: "metric icon" "quantity change";
  justify-content: space-between;
  grid-template-rows: 20px 1fr;
  font-weight: 700;
  row-gap: 24px;
  cursor: pointer;
}
.stat .icon {
  justify-self: flex-end;
}
.stat .quantity {
  font-size: 30px;
  align-self: flex-end;
}
.stat .change {
  align-self: flex-end;
  padding-bottom: 3px;
}

.dark .stat {
  background-color: hsl(228, 28%, 20%);
}
.dark .stat .metric {
  color: hsl(228, 34%, 66%);
}
.dark .stat:hover {
  background-color: #333a56;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.social-media-dashboard {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 20px;
}

.dark.social-media-dashboard {
  color: hsl(0, 0%, 100%);
}

.increase {
  color: hsl(163, 72%, 41%);
}
.increase::before {
  content: url("src/projects/junior/social-media-dashboard-with-theme-switcher-master/src/assets/images/icon-up.svg");
}

.decrease {
  color: hsl(356, 69%, 56%);
}
.decrease::before {
  content: url("src/projects/junior/social-media-dashboard-with-theme-switcher-master/src/assets/images/icon-down.svg");
}

.change::before {
  vertical-align: 4px;
  margin-right: 4px;
}

body:has(#root .dark) {
  background-color: hsl(230, 17%, 14%);
}

/*# sourceMappingURL=index.css.map */
