@import "https://fonts.googleapis.com/css?family=Manrope:800";
@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $dark-blue;
  color: $light-cyan;
  font: {
    family: "Manrope";
    size: 28px;
    weight: 800;
  }
}

.flex-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advice-generator {
  background-color: $dark-grayish-blue;
}

.dice-btn {
  border: none;
  background-color: $neon-green;
  padding: 14px;
  border-radius: 50%;
  cursor: pointer;

  img {
    display: block;
  }

  &:hover {
    box-shadow: 0 0 20px $neon-green;
  }
}
