@import "https://fonts.googleapis.com/css?family=Manrope:800";
@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $dark-blue;
  color: $light-cyan;
  font: {
    family: "Manrope";
    size: 28px;
    weight: 800;
  }
}

.flex-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advice-generator {
  background-color: $dark-grayish-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  position: relative;
}

.advice {
  width: min-content;
  h6 {
    color: $neon-green;
    font-size: 12px;
    letter-spacing: 3px;
    margin: 10px 0 20px;
    animation: fadeIn 3s;
  }

  p {
    margin-bottom: 30px;
    animation: fadeIn 3s 1s forwards;
    opacity: 0;
  }
}

.divider {
  margin-bottom: 20px;
}

.dice-btn {
  border: none;
  background-color: $neon-green;
  padding: 18px;
  border-radius: 50%;
  cursor: pointer;
  width: min-content;
  position: absolute;
  bottom: -30px;

  img {
    display: block;
  }

  &:hover {
    box-shadow: 0 0 20px $neon-green;
  }

  &:active {
    transform: scale(0.98);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
