@use "colors" as c;

.socials {
  display: flex;
  gap: 16px;

  li {
    border: 1px solid #fff;
    height: 42px;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      border-color: c.$pink;

      path {
        fill: c.$pink;
      }
    }
  }

  a {
    display: block;
    height: 20px;
  }

  svg {
    height: 20px;
  }
}
