@use "colors" as c;
@use "sizes";

@use "header";
@use "callToAction";
@use "main";
@use "signUp";
@use "footer";
@use "socials";

@mixin google-font($family, $weight: 400) {
  @import url("https://fonts.googleapis.com/css?family=#{$family}:#{$weight}");
}

@include google-font("Poppins", 600);
@include google-font("Open Sans");
@include google-font("Open Sans", 700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.huddle-alternating {
  font: {
    family: "Open Sans";
    size: 18px;
    weight: 400;
  }

  color: c.$very-dark-cyan;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font: {
      family: "Poppins";
      weight: 600;
    }
  }

  button {
    font: {
      family: "Open Sans";
      weight: 700;
    }

    cursor: pointer;

    border: none;
    padding: 1.2em 5em;
    border-radius: 2em;

    &:hover {
      opacity: 0.75;
    }

    &.primary {
      background-color: c.$pink;
      color: #fff;
    }

    &.secondary {
      background-color: #fff;
      color: c.$very-dark-cyan;

      box-shadow: 0 2px 5px #0003;
    }
  }

  .header-wrapper {
    background: c.$very-pale-cyan
      url("src/projects/junior/huddle-landing-page-with-alternating-feature-blocks-master/src/assets/images/bg-hero-desktop.svg")
      no-repeat top center/100%;
    padding-bottom: 60px;
    padding-inline: sizes.$inline-spacing;
    max-width: 1920px;
    margin-inline: auto;
  }
}

@media (width <= sizes.$breakpoint) {
  .huddle-alternating {
    text-align: center;

    .header-wrapper {
      background: c.$very-pale-cyan
        url("src/projects/junior/huddle-landing-page-with-alternating-feature-blocks-master/src/assets/images/bg-hero-mobile.svg")
        no-repeat top center/100%;
    }
  }
}
