@import url("https://fonts.googleapis.com/css?family=Raleway:400");
@import url("https://fonts.googleapis.com/css?family=Raleway:700");
@import url("https://fonts.googleapis.com/css?family=Open Sans:400");
@import url("https://fonts.googleapis.com/css?family=Open Sans:700");
header {
  background-color: hsl(217, 28%, 15%);
  padding-inline: 20px;
  padding-top: clamp(30px, 8vw, 70px);
  padding-bottom: clamp(40px, 10.7vw, 70px);
}
header .wrapper {
  max-width: 1280px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  height: clamp(24px, 3.6vw, 52px);
}
header ul {
  display: flex;
  font-size: clamp(12px, 3.2vw, 16px);
  gap: clamp(26px, 6.9vw, 60px);
}
header a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.introduction {
  text-align: center;
  padding-inline: 20px;
  background: hsl(217, 28%, 15%) url("src/projects/junior/fylo-dark-theme-landing-page-master/src/assets/images/bg-curvy-desktop.svg") no-repeat bottom center/100%;
}
.introduction .illustration {
  width: max(50%, 280px);
  max-width: 720px;
}
.introduction .wrapper {
  margin-inline: auto;
  max-width: 800px;
}
.introduction h1 {
  font-size: clamp(24px, 2.8vw, 40px);
  line-height: 1.4em;
  padding-inline: min(1em, 2.8vw);
  margin-top: 1em;
  margin-bottom: 1em;
}
.introduction p {
  font-size: clamp(14px, 1.4vw, 20px);
  line-height: 1.6em;
  width: clamp(280px, 80vw, 75%);
  margin-inline: auto;
  margin-bottom: 1.5em;
}

@media (width <= 425px) {
  .introduction {
    background: url("src/projects/junior/fylo-dark-theme-landing-page-master/src/assets/images/bg-curvy-desktop.svg") no-repeat center/100%, linear-gradient(hsl(217, 28%, 15%) 59%, hsl(218, 28%, 13%) 59%);
  }
}
.features {
  font-size: 14px;
  margin-top: 10em;
  row-gap: 5em;
  padding-inline: 20px;
  max-width: 1280px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.features li {
  text-align: center;
  width: 35%;
  display: grid;
  grid-template-rows: 100px max-content max-content;
}
.features img {
  justify-self: center;
  align-self: center;
}
.features h3 {
  font-size: 20px;
  font-size: clamp(18px, 2vw, 20px);
  margin-top: 1em;
}
.features p {
  margin-top: 1em;
  line-height: 1.7em;
}

@media (width <= 768px) {
  .features {
    display: block;
    max-width: 400px;
    margin-top: 8em;
  }
  .features li {
    margin-bottom: 5em;
    width: auto;
    display: block;
  }
  .features li:last-child {
    margin-bottom: 0;
  }
  .features p {
    margin-top: 1em;
  }
  .features h3 {
    margin-top: 1.5em;
  }
  .features img {
    height: 60px;
    display: block;
    margin-inline: auto;
  }
}
.summary {
  padding-inline: 20px;
  max-width: 1280px;
  margin-inline: auto;
  margin-top: 10em;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
}
.summary img {
  width: 100%;
  display: block;
  margin-inline: auto;
}
.summary h3 {
  font-size: clamp(24px, 2.8vw, 40px);
  margin-bottom: 1.2em;
  margin-top: 2em;
}
.summary p {
  line-height: 1.7em;
  margin-bottom: 1.2em;
}
.summary .accent {
  color: hsl(176, 68%, 64%);
  cursor: pointer;
  width: max-content;
}
.summary .accent::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid hsl(176, 68%, 64%);
}
.summary .accent span {
  vertical-align: sub;
  padding-left: 0.5em;
}
.summary .accent:hover {
  color: #fff;
}
.summary .accent:hover::after {
  border-color: #fff;
}
.summary .accent:hover use {
  fill: #fff;
}

@media (width <= 768px) {
  .summary {
    display: block;
  }
  .summary img {
    width: 90%;
    max-width: 400px;
  }
  .summary h3 {
    font-size: clamp(18px, 2vw, 20px);
  }
}
.testimonials {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 20px;
  padding-top: 2.5em;
  background: url("src/projects/junior/fylo-dark-theme-landing-page-master/src/assets/images/bg-quotes.png") no-repeat top left 20px;
  display: flex;
  gap: 50px;
  margin-top: 10em;
}
.testimonials .testimonial {
  background-color: hsl(219, 30%, 18%);
  padding: 2em;
  border-radius: 6px;
}
.testimonials .review {
  line-height: 1.8em;
  margin-bottom: 2em;
}
.testimonials .author {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 20px;
}
.testimonials img {
  width: 40px;
  border-radius: 50%;
  grid-column: 1/2;
  grid-row: 1/3;
}
.testimonials .name {
  font-weight: 700;
  letter-spacing: 1px;
  grid-column: 2/3;
  grid-row: 1/2;
}
.testimonials .status {
  font-size: 12px;
  grid-column: 2/3;
  grid-row: 2/3;
}

@media (width <= 768px) {
  .testimonials {
    display: block;
  }
  .testimonials .testimonial {
    margin-bottom: 2em;
  }
  .testimonials .testimonial:last-child {
    margin-bottom: 0;
  }
}
.call-to-action {
  padding-inline: 20px;
  display: flex;
  justify-content: center;
  background: linear-gradient(hsl(218, 28%, 13%) 50%, hsl(216, 53%, 9%) 50%);
  text-align: center;
  margin-top: 10em;
}
.call-to-action .wrapper {
  background-color: hsl(217, 28%, 15%);
  border-radius: 6px;
  max-width: 768px;
  padding: 2.5em 4em 0;
  box-shadow: 4px 4px 4px hsl(216, 53%, 9%);
}
.call-to-action h2 {
  font-size: 30px;
}
.call-to-action p:not(.error) {
  margin-block: 1em 2em;
  line-height: 1.5;
  padding-inline: 2em;
}
.call-to-action form {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 20px;
  position: relative;
  padding-bottom: 3em;
}
.call-to-action form button {
  font-size: 14px;
  min-width: unset;
  padding: 1em 2em;
}
.call-to-action input {
  font-size: 14px;
  padding: 1em 2em;
  border-radius: 1.5em;
  border: none;
}
.call-to-action .error {
  color: hsl(0, 100%, 63%);
  font-weight: 700;
  font-size: 12px;
  text-align: left;
  margin-left: 2em;
  position: absolute;
  bottom: 1em;
}

@media (width <= 768px) {
  .call-to-action .wrapper {
    padding-inline: 2em;
  }
  .call-to-action h2 {
    font-size: clamp(18px, 4.8vw, 30px);
  }
  .call-to-action p:not(.error) {
    padding-inline: 0;
  }
  .call-to-action form {
    display: block;
  }
  .call-to-action input {
    margin-bottom: 1em;
  }
  .call-to-action input,
  .call-to-action button {
    width: 100%;
    max-width: 350px;
  }
  .call-to-action .error {
    text-align: center;
    left: 0;
    right: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fylo-dark {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  background-color: hsl(218, 28%, 13%);
  max-width: 1920px;
  margin-inline: auto;
}
.fylo-dark a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
.fylo-dark button {
  background: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  color: hsl(0, 0%, 100%);
  border: none;
  font-weight: 700;
  font-size: 16px;
  padding: 1.2em;
  border-radius: 1.7em;
  min-width: 280px;
  cursor: pointer;
}
.fylo-dark button:hover {
  background: hsl(187, 62%, 72%);
}
.fylo-dark ul {
  list-style: none;
}
.fylo-dark header,
.fylo-dark h1,
.fylo-dark h2,
.fylo-dark h3,
.fylo-dark h4,
.fylo-dark h5,
.fylo-dark h6,
.fylo-dark button {
  font-family: "Raleway";
}

/*# sourceMappingURL=index.css.map */
