@import url("https://fonts.googleapis.com/css?family=Bai Jamjuree:400");
@import url("https://fonts.googleapis.com/css?family=Bai Jamjuree:600");
.desktop header {
  padding-top: 130px;
  margin-bottom: 60px;
}

.mobile header {
  padding-top: 120px;
  margin-bottom: 60px;
}

.desktop main h2 {
  font-size: 34px;
  margin-bottom: 20px;
}
.desktop main p {
  line-height: 30px;
}
.desktop main section h2, .desktop main section > p {
  max-width: 720px;
  margin-inline: auto;
}
.desktop main .snippets {
  margin-bottom: 140px;
}
.desktop main .snippets .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 80px;
  margin-left: -30px;
}
.desktop main .snippets .wrapper ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  height: 100%;
  margin-left: clamp(60px, 8.3vw, 120px);
  max-width: 360px;
  padding-right: 20px;
}
.desktop main .snippets .wrapper img {
  width: 100%;
  max-width: 735px;
  justify-self: flex-end;
}
.desktop main .snippets .wrapper p {
  font-size: 16px;
}
.desktop main .snippets ul {
  text-align: left;
}
.desktop main .snippets h3 {
  font-size: 24px;
}
.desktop main .access {
  margin-bottom: 30px;
}
.desktop main .access p {
  margin-bottom: 80px;
}
.desktop main .access img {
  width: 65%;
  max-width: 900px;
}
.desktop main .workflow {
  margin-bottom: 160px;
}
.desktop main .workflow ul {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1100px;
  margin-inline: auto;
  padding-inline: 20px;
}
.desktop main .workflow li {
  display: grid;
  justify-content: center;
  grid-template-rows: 80px 50px 1fr;
}
.desktop main .workflow li p {
  font-size: 16px;
}
.desktop main .workflow .icon {
  justify-self: center;
}
.desktop main .workflow h3 {
  font-size: 24px;
}

.mobile main {
  padding-inline: 26px;
}
.mobile main p {
  font-size: 16px;
  line-height: 26px;
  padding-inline: 8px;
}
.mobile main h2 {
  margin-bottom: 20px;
}
.mobile main .image {
  width: 100%;
  max-width: 500px;
  margin-top: 60px;
  margin-bottom: 50px;
}
.mobile main .snippets {
  margin-bottom: 180px;
}
.mobile main .snippets img {
  width: 100%;
}
.mobile main .snippets h3 {
  font-size: 23px;
  margin-bottom: 10px;
}
.mobile main .snippets li {
  margin-bottom: 50px;
}
.mobile main .access {
  margin-bottom: 60px;
}
.mobile main .workflow {
  margin-bottom: 120px;
}
.mobile main .workflow h2 {
  margin-bottom: 10px;
}
.mobile main .workflow ul {
  margin-top: 90px;
}
.mobile main .workflow ul li {
  margin-bottom: 50px;
}
.mobile main .workflow ul .icon {
  margin-bottom: 40px;
}
.mobile main .workflow ul h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.desktop .introduction {
  margin-bottom: 130px;
}
.desktop .introduction h1 {
  font-size: 44px;
  margin-bottom: 20px;
}
.desktop .introduction p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}

.mobile .introduction {
  margin-bottom: 160px;
}
.mobile .introduction h1 {
  font-size: 32px;
  margin-bottom: 16px;
}
.mobile .introduction p {
  margin-bottom: 44px;
}

.clients ul {
  display: flex;
}

.desktop .clients {
  max-width: 1100px;
  margin-inline: auto;
  margin-bottom: 160px;
  padding-inline: 20px;
}
.desktop .clients ul {
  justify-content: space-between;
  gap: 40px;
}
.desktop .clients img {
  width: 100%;
}

.mobile .clients {
  margin-bottom: 160px;
}
.mobile .clients ul {
  flex-direction: column;
  gap: 53px;
}
.mobile .clients img {
  transform: scale(0.85);
}

.desktop .call-to-action {
  margin-bottom: 160px;
}
.desktop .call-to-action p {
  margin-bottom: 44px;
}

.mobile .call-to-action {
  margin-bottom: 175px;
}
.mobile .call-to-action p {
  margin-bottom: 44px;
}

footer {
  background: #f5f6f8;
}
footer nav a:hover {
  color: hsl(171, 66%, 44%);
}
footer .socials {
  display: flex;
}
footer .socials li:hover svg path {
  fill: hsl(171, 66%, 44%);
}

.desktop footer {
  padding-block: 60px;
}
.desktop footer .wrapper {
  max-width: 1100px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 54px 1fr 120px;
  align-items: center;
  padding-inline: 20px;
}
.desktop footer .logo {
  width: 54px;
}
.desktop footer nav ul {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
  grid-auto-flow: column;
  text-align: left;
  width: 500px;
  margin-inline: auto;
}
.desktop footer .socials {
  max-width: 120px;
  justify-content: space-between;
}

.mobile footer {
  padding-top: 50px;
  padding-bottom: 50px;
}
.mobile footer .logo {
  width: 54px;
  margin-bottom: 40px;
}
.mobile footer nav {
  margin-bottom: 40px;
}
.mobile footer nav li {
  margin-bottom: 28px;
}
.mobile footer .socials {
  justify-content: center;
  gap: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clipboard {
  font-family: "Bai Jamjuree";
  font-size: 18px;
  font-weight: 400;
  color: hsl(201, 11%, 66%);
  max-width: 1920px;
  margin-inline: auto;
  text-align: center;
}
.clipboard h1,
.clipboard h2,
.clipboard h3,
.clipboard h4,
.clipboard h5,
.clipboard h6 {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
}
.clipboard button {
  color: #fff;
  font-weight: 600;
  font-family: "Bai Jamjuree";
  font-size: 18px;
  letter-spacing: 0.5px;
  border: none;
  padding-block: 16px;
  padding-inline: 40px;
  border-radius: 27px;
  cursor: pointer;
  margin-inline: 10px;
  margin-block: 28px;
}
.clipboard button.ios {
  background-color: hsl(171, 66%, 44%);
  box-shadow: #209e8b 0 2px 0 1px, #aceee4 0px 10px 10px;
}
.clipboard button.ios:hover {
  background-color: #5cbaac;
}
.clipboard button.mac {
  background-color: hsl(233, 100%, 69%);
  box-shadow: #2c45ff 0 2px 0 1px, #c8ceff 0px 10px 10px;
}
.clipboard button.mac:hover {
  background-color: #8996ff;
}
.clipboard ul {
  list-style: none;
}
.clipboard a {
  color: hsl(210, 10%, 33%);
  text-decoration: none;
}

.clipboard.desktop {
  background: url("src/projects/junior/clipboard-landing-page-master/src/assets/images/bg-header-desktop.png") no-repeat top center/100%;
}

.clipboard.mobile {
  background: url("src/projects/junior/clipboard-landing-page-master/src/assets/images/bg-header-mobile.png") no-repeat top center/100%;
}
.clipboard.mobile button {
  display: block;
  margin-inline: auto;
  width: 100%;
  max-width: 300px;
}

/*# sourceMappingURL=index.css.map */
