$main-bg: hsl(233, 47%, 7%);
$card-bg: hsl(244, 38%, 16%);
$accent: rgb(170, 92, 219);
$overlay: rgba(100, 4, 160, 0.6);

$white: hsl(0, 0%, 100%);
$main-para: hsla(0, 0%, 100%, 0.75);
$stat-heading: hsla(0, 0%, 100%, 0.6);