.profile {
  background-color: $dark-blue;
  border-radius: $border-radius;
  width: 300px;
  grid-area: profile;

  ul {
    color: $pale-blue;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    padding: 30px;

    li {
      cursor: pointer;
      width: min-content;

      &.active {
        color: #fff;
      }

      &:hover {
        color: #fff;
      }
    }
  }
}

.avatar {
  background-color: $blue;
  border-radius: $border-radius;
  padding: 30px;

  img {
    border-radius: 50%;
    outline: 3px solid #fff;
    width: 80px;
    margin-bottom: 40px;
  }

  p {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 40px;
  }
}

.report-name {
  font-size: 32px;
  font-weight: 300;
  display: block;
}
