@use "sass:color";
@import "https://fonts.googleapis.com/css?family=Rubik:300";
@import "https://fonts.googleapis.com/css?family=Rubik:400";
@import "https://fonts.googleapis.com/css?family=Rubik:500";
@import "colors";
@import "sizes";
@import "profile";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $very-dark-blue;
  background-color: palegreen;
  color: #fff;
  font: {
    family: "Rubik";
    size: 18px;
  }
  padding: 20px;
}

.tracking {
  width: 300px;
  background-color: $work;
  border-radius: $border-radius;
  overflow: clip;

  img {
    display: block;
    margin-left: auto;
    margin-right: 20px;
    position: relative;
    top: -10px;
  }

  &:hover {
    cursor: pointer;
    .card {
      background-color: color.scale($dark-blue, $lightness: 10%);
    }
  }
}

.card {
  background-color: $dark-blue;
  border-radius: $border-radius;
  padding: 30px;
  position: relative;
  margin-top: -30px;
  width: 100%;

  display: grid;
  grid-template-areas:
    "category ellipsis"
    "time time"
    "previous previous";

  h6 {
    grid-area: category;
    font-weight: 500;
    font-size: 18px;
  }
  .time {
    grid-area: time;
    font-size: 54px;
    font-weight: 300;
    margin: 14px 0 8px;
  }
  .previous {
    grid-area: previous;
    font-size: 14px;
    color: $pale-blue;
  }
}

.ellipsis {
  width: min-content;
  grid-area: ellipsis;
  justify-self: flex-end;

  &:hover {
    transform: scale(1.1);

    path {
      fill: #fff;
    }
  }
}
