@import "productDetails";

@mixin information() {
  margin: 2rem;

  .product-details {
    @include product-details;
  }

  button {
    border: none;
    background: $dark-cyan;
    color: $white;
    width: 100%;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: transform ease 0.2s;

    &:hover {
      background: hsl(158, 33%, 22%);
    }
    &:active {
      transform: scale(0.98);
    }

    .cart-icon img {
      height: 16px;
      width: 16px;
      margin-right: 10px
    }
  }
  @media (max-width: 600px) {
    margin: 1.5rem;
  }

}