@use "colors" as c;
@use "sizes";

header {
  background-color: c.$intro-email-bg;
  padding-inline: sizes.$inline-spacing;
  padding-top: clamp(30px, 8vw, 70px);
  padding-bottom: clamp(40px, 10.7vw, 70px);

  .wrapper {
    max-width: sizes.$max-content-width;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    height: clamp(24px, 3.6vw, 52px);
  }

  ul {
    display: flex;

    font-size: clamp(12px, 3.2vw, 16px);
    gap: clamp(26px, 6.9vw, 60px);
  }

  a {
    &:hover {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
