@use "colors" as c;
@use "outline";
@use "pricing";
@use "slider";
@use "billingToggle";

@mixin google-font($family, $weight: 400) {
  @import url("https://fonts.googleapis.com/css?family=#{$family}:#{$weight}");
}

@include google-font("Manrope", 600);
@include google-font("Manrope", 800);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: {
    size: 15px;
    family: "Manrope";
    weight: 600;
  }

  background-color: c.$main-bg;

  color: c.$text;
}

.interactive-pricing {
  background: c.$main-bg
    url("src/projects/junior/interactive-pricing-component-main/src/assets/images/bg-pattern.svg")
    top left/1440px 50% no-repeat;

  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
