.account-actions {
  display: flex;
  gap: 30px;
}

.login-btn {
  padding: 0;
  width: max-content;
  background-color: transparent;
  color: #fff;
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }
}
