footer {
  background-color: $footer-background;
  border-top-right-radius: 100px;

  p {
    color: $text;
    margin-bottom: 30px;
    font-weight: 500;
  }

  a {
    color: $footer-text;

    &:hover {
      text-decoration: underline 2px;
    }
  }

  nav > ul {
    display: grid;
  }
}

.mobile footer {
  text-align: center;
  padding-block: 70px;

  .logo {
    margin-bottom: 60px;
  }

  li ul li {
    margin-bottom: 10px;
  }

  nav > ul {
    gap: 40px;
  }
}

.desktop footer {
  padding-block: 60px;

  .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 30px;
  }

  nav > ul {
    grid-template-columns: 1fr 1fr 1fr;
  }

  li ul li {
    margin-bottom: 14px;
  }
}
