header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 30px;
  padding-block: 40px;
}

.nav-wrapper {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.mobile header .logo {
  height: 30px;
  height: 5.2vw;
  height: clamp(30px, 5.2vw, 40px);
}
