@import "https://fonts.googleapis.com/css?family=Overpass:300";
@import "https://fonts.googleapis.com/css?family=Overpass:600";
@import "https://fonts.googleapis.com/css?family=Ubuntu:400";
@import "https://fonts.googleapis.com/css?family=Ubuntu:500";
@import "https://fonts.googleapis.com/css?family=Ubuntu:700";

@import "colors";
@import "header";
@import "nav";
@import "accountActions";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: {
    size: 16px;
    family: "Overpass";
    weight: 300;
  }

  color: $body-copy;
}

.blogr {
  max-width: 1920px;
  margin: 0 auto;
}

button {
  font: {
    family: "Ubuntu";
    weight: 700;
    size: 16px;
  }

  padding: 10px;
  cursor: pointer;
  width: 120px;
  border-radius: 38px;
  border: none;

  &.primary {
    background-color: #fff;
    color: $cta-text;

    &:hover {
      background-color: $cta-hover-background;
      color: #fff;
    }
  }

  &.secondary {
    background-color: transparent;
    color: #fff;
    outline: 1px solid #fff;

    &:hover {
      background-color: #fff;
      color: $cta-text;
    }
  }
}
