.header-wrapper {
  position: relative;

  .background {
    width: 100%;
    z-index: -1;
    display: block;
  }

  header {
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
