.header-wrapper {
  position: relative;

  .background {
    width: 100%;
    z-index: -1;
    display: block;
  }

  header {
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

h1 {
  font: {
    family: "Fraunces";
    weight: 900;
    size: clamp(36px, 6vw, 82px);
    size: clamp(36px, 6.87vw, 82px);
  }
  color: $white;
  text-align: center;
  letter-spacing: clamp(4px, 1vw, 12px);

  margin-top: clamp(30px, 10vw, 200px);
  padding-inline: 30px;
  cursor: default;
}

.down-arrow {
  display: block;
  margin: clamp(70px, 8vw, 150px) auto 0;
}
