@use "sass:color";

@mixin link-highlight($color) {
  a {
    &::after {
      background-color: color.scale($color, $lightness: 50%);
    }

    &:hover {
      &::after {
        background-color: $color;
      }
    }
  }
}

.services {
  text-align: center;

  .transform {
    @include link-highlight($yellow);
  }

  .stand-out {
    @include link-highlight($soft-red);
  }

  &.desktop {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .transform {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column: 1 / -1;

      img {
        grid-column: 2;
        grid-row: 1;
      }
      .summary {
        grid-column: 1;
      }
    }

    .stand-out {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column: 1 / -1;

      img {
        grid-column: 1;
      }
      .summary {
        grid-column: 2;
      }
    }

    .summary {
      margin: 0 clamp(10px, 6vw, 150px);
    }

    h3 {
      font-size: 4vw;
      font-size: clamp(30px, 4vw, 72px);
    }

    p {
      font-size: 2vw;
      font-size: clamp(16px, 2vw, 22px);
    }

    a {
      margin: 0;
      font-size: clamp(14px, 2vw, 22px);
    }
  }

  img {
    width: 100%;
  }

  .summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin: 60px 10vw;
  }

  h3 {
    color: $very-dark-desaturated-blue;
    font: {
      family: "Fraunces";
      weight: 900;
      size: 32px;
    }
  }

  p {
    color: $dark-grayish-blue;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
    font: {
      family: "Fraunces";
      size: 14px;
    }
    color: inherit;
    position: relative;
    display: block;
    width: max-content;
    margin: 0 auto;
    letter-spacing: 1px;

    &::after {
      display: block;
      height: 12px;
      width: 100%;
      content: "";
      position: absolute;
      border-radius: 6px;
      padding-inline: 10px;
      left: -10px;
      bottom: -4px;
      z-index: -1;
    }

    &:hover {
      &::after {
        background-color: $yellow;
      }
    }
  }
}

.graphic-design,
.photography {
  position: relative;
  display: flex;
  justify-content: center;

  img {
    display: block;
  }

  .summary {
    position: absolute;
    text-align: center;

    h4 {
      font-family: "Fraunces";
      font-weight: 900;
    }
  }
}

.photography .summary h4,
.photography .summary p {
  color: $photography-text;
}

.graphic-design .summary h4,
.graphic-design .summary p {
  color: $graphic-design-text;
}

.services.mobile {
  .photography,
  .graphic-design {
    display: flex;
    align-items: flex-end;
    .summary {
      margin-bottom: 18vw;
      margin-inline: 4vw;
    }

    h4 {
      font-size: clamp(28px, 8vw, 58px);
    }

    p {
      font-size: clamp(16px, 4vw, 30px);
    }
  }
}

.services.desktop {
  .photography,
  .graphic-design {
    .summary {
      margin-top: 23vw;
      gap: 2vw;
    }

    h4 {
      font-size: clamp(18px, 2vw, 40px);
    }

    p {
      // font-size: clamp(14px, 1.7vw, 36px);
      font-size: 1.7vw;
    }
  }
}
