@use "colors" as c;
@use "explorer";
@use "storage";

@mixin google-font($family, $weight: 400) {
  @import url("https://fonts.googleapis.com/css?family=#{$family}:#{$weight}");
}

@include google-font("Raleway");
@include google-font("Raleway, 700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fylo {
  font: {
    size: 14px;
    family: "Raleway";
    weight: 400;
  }

  color: c.$pale-blue;
  position: relative;

  height: 100vh;
  background: url("src/projects/junior/fylo-data-storage-component-master/src/assets/images/bg-desktop.png")
    no-repeat center bottom c.$very-dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

@media (width <= 1440px) {
  .fylo {
    background-position: left bottom;
  }
}

@media (width <= 768px) {
  .fylo {
    background: url("src/projects/junior/fylo-data-storage-component-master/src/assets/images/bg-mobile.png")
      c.$very-dark-blue no-repeat fixed top left/cover;

    display: block;
    padding-top: 100px;

    .storage {
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .explorer {
    padding-right: 0;
  }

  .remaining {
    left: 0;
    right: 0;
    margin-inline: auto;
    top: auto;
    bottom: -30px;
    &::after {
      display: none;
    }
  }
}
