@import "colors";
@import "nav";

@font-face {
  font-family: Inter;
  src: url("src/projects/junior/news-homepage-main/src/assets/fonts/Inter-VariableFont_slnt,wght.ttf");
  font-weight: 400 700 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: {
    size: 15px;
    family: Inter;
  }
  background-color: $off-white;
  color: $very-dark-blue;
}

.news-homepage {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}

main {
  display: grid;
  grid-template-areas:
    "article aside"
    "section section";

  grid-template-columns: 1fr 350px;
  column-gap: 30px;
  row-gap: 60px;
}

a {
  text-decoration: none;
  color: $dark-grayish-blue;

  &:hover {
    color: $soft-red;
  }
}

article {
  grid-area: article;
  display: grid;
  gap: 20px 40px;
  grid-template-areas:
    "image image"
    "title summary"
    "title button";

  img {
    grid-area: image;
    width: 100%;
  }

  h1 {
    font-weight: 800;
    font-size: clamp(32px, 4vw, 48px);
    grid-area: title;
  }

  p {
    grid-area: summary;
    color: $dark-grayish-blue;
    line-height: 2;
    margin-right: 10px;
  }

  button {
    grid-area: button;
    width: max-content;
    height: 50px;
    align-self: end;
  }
}

button {
  background-color: $soft-red;
  color: $off-white;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 40px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $very-dark-blue;
  }
}

aside {
  background-color: $very-dark-blue;
  padding: 20px;
  margin: 0 auto;
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    color: $soft-orange;
    font-size: 32px;
    margin-bottom: 10px;
  }
  h4 {
    color: $off-white;
    cursor: pointer;
    width: max-content;
    font-size: 20px;
    margin-bottom: 8px;

    &:hover {
      color: $soft-orange;
    }
  }
  p {
    color: $grayish-blue;
    padding-bottom: 20px;
  }
}

.sidebar-preview {
  &:not(:last-child) {
    border-bottom: 1px solid $dark-grayish-blue;
  }
  padding: 10px 0;
}

.popular-articles {
  display: flex;
  grid-area: section;
  gap: 10px;
}

.article-preview {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: center;

  img {
    width: 100%;
  }

  h2 {
    color: $grayish-blue;
    font-size: 36px;
  }

  h4 {
    font-weight: 800;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      color: $soft-red;
    }
  }

  p {
    color: $dark-grayish-blue;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

dialog {
  border: none;
  width: 260px;
  height: 100vh;
  padding: 20px;
  margin-left: auto;

  img {
    margin-left: auto;
    display: block;
    margin-bottom: 50px;
    cursor: pointer;
  }

  nav > ul {
    display: grid;

    a {
      color: $very-dark-blue;
    }
  }
}

.mobile-menu-icon {
  cursor: pointer;
}

@media (width < 1100px) {
  article {
    grid-template-areas:
      "image"
      "title"
      "summary"
      "button";
  }
}

@media (width < 768px) {
  main {
    grid-template-areas:
      "article"
      "aside"
      "section";
    grid-template-columns: 1fr;
  }

  .popular-articles {
    display: grid;
    gap: 20px;
  }
}
