@use "sizes";

.clients {
  ul {
    display: flex;
  }
}

.desktop .clients {
  max-width: sizes.$max-width;
  margin-inline: auto;
  margin-bottom: 160px;
  padding-inline: sizes.$inline-spacing;

  ul {
    justify-content: space-between;
    gap: 40px;
  }

  img {
    width: 100%;
  }
}

.mobile .clients {
  margin-bottom: 160px;

  ul {
    flex-direction: column;
    gap: 53px;
  }

  img {
    transform: scale(0.85);
  }
}
