@use "colors" as c;

@mixin google-font($family, $weight: 400) {
  @import url("https://fonts.googleapis.com/css?family=#{$family}:#{$weight}");
}

@include google-font("Bai Jamjuree");
@include google-font("Bai Jamjuree", 600);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clipboard {
  font: {
    family: "Bai Jamjuree";
    size: 18px;
    weight: 400;
  }

  color: c.$grayish-blue;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: c.$dark-grayish-blue;
    font-weight: 600;
  }
}
