@use "colors" as c;
@use "sass:color";
@use "sizes";
@use "header";
@use "main";
@use "introduction";
@use "clients";
@use "callToAction";
@use "footer";

@mixin google-font($family, $weight: 400) {
  @import url("https://fonts.googleapis.com/css?family=#{$family}:#{$weight}");
}

@include google-font("Bai Jamjuree");
@include google-font("Bai Jamjuree", 600);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clipboard {
  font: {
    family: "Bai Jamjuree";
    size: 18px;
    weight: 400;
  }

  color: c.$grayish-blue;
  max-width: 1920px;
  margin-inline: auto;
  // padding-inline: sizes.$margin-inline;
  text-align: center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: c.$dark-grayish-blue;
    font-weight: 600;
  }

  button {
    color: #fff;
    font-weight: 600;
    font-family: "Bai Jamjuree";
    font-size: 18px;
    letter-spacing: 0.5px;
    border: none;
    padding-block: 16px;
    padding-inline: 40px;
    border-radius: 27px;
    cursor: pointer;
    margin-inline: 10px;
    margin-block: 28px;

    @mixin button-color($color) {
      background-color: $color;
      box-shadow: color.scale($color, $lightness: -15%) 0 2px 0 1px,
        color.scale($color, $lightness: 65%) 0px 10px 10px;

      &:hover {
        background-color: color.scale($color, $whiteness: 25%);
      }
    }

    &.ios {
      @include button-color(c.$strong-cyan);
    }

    &.mac {
      @include button-color(c.$light-blue);
    }
  }

  ul {
    list-style: none;
  }

  a {
    color: c.$dark-grayish-blue;
    text-decoration: none;
  }
}

.clipboard.desktop {
  background: url("src/projects/junior/clipboard-landing-page-master/src/assets/images/bg-header-desktop.png")
    no-repeat top center/ 100%;
}

.clipboard.mobile {
  background: url("src/projects/junior/clipboard-landing-page-master/src/assets/images/bg-header-mobile.png")
    no-repeat top center/ 100%;

  button {
    display: block;
    margin-inline: auto;
    width: 100%;
    max-width: 300px;
  }
}
