@import "https://fonts.googleapis.com/css?family=Overpass";
@import "colors";
@import "thankYou";
@import "userPrompt";

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background;

  font: {
    family: "Overpass";
    size: 15px;
  }

  .app {
    max-width: 320px;
    background: linear-gradient($bottom, $top);
    color: $white;
    padding: 2rem;
    border-radius: 2rem;

    .baseline-correct {
      position: relative;
      top: 2px;
    }

    .user-prompt {
      @include user-prompt;
    }

    .thank-you {
      @include thank-you;
    }
  }
}