@use "colors" as c;
@use "sizes";
@use "toggle";
@use "package";

@mixin google-font($family, $weight: 400) {
  @import url("https://fonts.googleapis.com/css?family=#{$family}:#{$weight}");
}

@include google-font("Montserrat", 700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pricing-component-toggle {
  font: {
    family: "Montserrat";
    weight: 700;
    size: 15px;
  }
  background: url("src/projects/junior/pricing-component-with-toggle-master/src/assets/images/bg-top.svg")
      no-repeat top right,
    c.$very-light-grayish-blue
      url("src/projects/junior/pricing-component-with-toggle-master/src/assets/images/bg-bottom.svg")
      no-repeat bottom left;
  color: c.$grayish-blue;
  min-height: 100vh;
  max-width: 1920px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;

  h1 {
    margin-bottom: 40px;
  }

  li {
    list-style: none;
  }
}

@media (width <= 1040px) {
  .packages {
    display: flex;
    width: 100%;
    padding-inline: 20px;

    .accent {
      padding-block: 24px;
    }
  }
}

@media (width <= 768px) {
  .pricing-component-toggle {
    background: c.$very-light-grayish-blue
      url("src/projects/junior/pricing-component-with-toggle-master/src/assets/images/bg-top.svg")
      no-repeat top -36px right -200px;
  }

  .packages {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-inline: 20px;

    .package {
      width: 100%;
      max-width: 400px;
    }
  }

  .package {
    &.accent + .package {
      border-radius: sizes.$border-radius;
    }

    &:has(+ .accent) {
      border-radius: sizes.$border-radius;
    }
  }
}
