@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Barlow:400");
@import url("https://fonts.googleapis.com/css?family=Barlow Condensed:400");
@import url("https://fonts.googleapis.com/css?family=Barlow Condensed:700");
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin-inline: auto;
  width: 100%;
  margin-bottom: 100px;
}
header .icon {
  display: none;
  cursor: pointer;
}

@media (width <= 768px) {
  header {
    margin-bottom: 50px;
  }
  header nav {
    display: none;
  }
  header .logo {
    height: 22px;
    width: 22px;
  }
  header .icon {
    display: inline;
  }
}
nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
nav a {
  color: initial;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
}
nav a:hover {
  text-decoration: underline;
}
nav li:last-child a {
  color: hsl(231, 7%, 65%);
}
nav li:last-child::before {
  content: "●";
  color: hsl(231, 7%, 65%);
  margin-right: 40px;
  bottom: 1px;
  position: relative;
}

@media (width <= 768px) {
  nav {
    text-align: center;
  }
  nav ul {
    flex-direction: column;
    gap: 20px;
  }
  nav li:last-child {
    border-top: 1px solid #d6d7db;
    padding-top: 20px;
  }
  nav li:last-child::before {
    display: none;
  }
}
.mobile-menu {
  width: calc(100% - 60px);
  padding: 20px;
  border: none;
  margin-inline: auto;
  box-shadow: 0 2px 8px #bbbcc4;
  margin-top: -20px;
}

main {
  display: grid;
  grid-template-areas: "text illustration";
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  max-width: 1100px;
  margin-inline: auto;
}
main .text {
  grid-area: text;
}
main .illustration {
  width: 150%;
  margin-top: 20px;
  margin-inline: auto;
  display: block;
  margin-bottom: min(21.3vw, 80px);
  grid-area: illustration;
}
main h3 {
  font-weight: 400;
  font-size: 18px;
  color: hsl(231, 7%, 65%);
  letter-spacing: 3px;
  margin-bottom: 20px;
}
main h3 span {
  font-weight: 700;
  background-color: hsl(230, 29%, 20%);
  color: #fff;
  padding: 3px 10px 4px;
  border-radius: 15px;
  letter-spacing: 1px;
  margin-right: 14px;
  font-size: 16px;
}
main h1 {
  font-size: clamp(40px, 4.2vw, 60px);
  line-height: clamp(40px, 4.2vw, 60px);
  margin-bottom: 20px;
}
main p {
  font-family: "Barlow";
  margin-bottom: 60px;
  color: hsl(230, 11%, 40%);
}
main button {
  background-color: hsl(0, 100%, 68%);
  color: #fff;
  border: none;
  font-family: "Barlow Condensed";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 16px;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}
main button:hover {
  background-color: #ff7575;
}
main .text > span {
  color: hsl(231, 7%, 65%);
  letter-spacing: 3px;
  font-size: 14px;
}

@media (width <= 768px) {
  main {
    display: block;
  }
  main .illustration {
    max-width: 600px;
  }
  main p {
    margin-bottom: 30px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.project-tracking {
  font-family: "Barlow Condensed";
  font-size: 18px;
  font-weight: 400;
  color: hsl(230, 29%, 20%);
  padding: 30px;
  display: grid;
  background: url("src/projects/junior/project-tracking-intro-component-master/src/assets/images/background-desktop.svg") no-repeat top right/50%;
  overflow: hidden;
}

@media (width <= 768px) {
  .project-tracking {
    display: block;
    background: url("src/projects/junior/project-tracking-intro-component-master/src/assets/images/background-mobile.svg") no-repeat top min((76vw - 286px) * -1, 0px) right/50%;
  }
}

/*# sourceMappingURL=index.css.map */
