@import "https://fonts.googleapis.com/css?family=Space+Mono:700";
.calculator {
  background-color: hsl(0, 0%, 100%);
  margin: 0 auto;
  padding: 30px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: minmax(300px, 500px) minmax(300px, 500px);
  gap: 50px;
  max-width: 1110px;
  margin-bottom: 140px;
}
.calculator form {
  max-width: 500px;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  border: none;
}
fieldset input {
  display: none;
}
fieldset label {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  min-width: 130px;
  padding-block: 4px;
  flex: 1;
}
fieldset label:hover {
  background-color: #8ae8db;
  color: hsl(183, 100%, 15%);
}

.field label {
  display: block;
  width: max-content;
}
.field input {
  width: 100%;
  outline: none;
  border: none;
  padding: 8px 20px 8px 40px;
  text-align: right;
  color: hsl(183, 100%, 15%);
  background-color: hsl(189, 41%, 97%);
  border-radius: 4px;
  font-family: "Space Mono";
  font-size: 24px;
}
.field input:focus {
  outline: 2px solid hsl(172, 67%, 45%);
}

legend,
.field label {
  font-size: 18px;
  margin-bottom: 10px;
}

.field,
fieldset {
  margin-bottom: 30px;
}

.icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.icon-wrapper .icon {
  position: absolute;
  left: 20px;
}

.custom {
  background-color: hsl(189, 41%, 97%);
  color: hsl(186, 14%, 43%);
}
.custom:hover {
  background-color: hsl(189, 41%, 97%);
  outline: 2px solid hsl(172, 67%, 45%);
}

.error .error-message {
  color: hsl(0, 64%, 57%);
  font-size: 18px;
}
.error input {
  outline: 2px solid hsl(0, 64%, 57%);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 20px;
}

@media (width <= 800px) {
  .calculator {
    grid-template-columns: minmax(300px, 500px);
    align-items: center;
    gap: 0;
    padding: 20px;
    max-width: 540px;
    margin-bottom: 0;
  }
}
@media (width <= 540px) {
  .calculator {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.output {
  background-color: hsl(183, 100%, 15%);
  border-radius: 10px;
  flex: 1;
  max-width: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.output button {
  margin-top: auto;
  padding: 10px;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 20px;
  border-radius: 6px;
  border: none;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  cursor: pointer;
}
.output button:hover {
  background-color: #8ae8db;
}

.calculation {
  display: flex;
  justify-content: space-between;
}

.category {
  color: hsl(0, 0%, 100%);
  font-size: 18px;
}
.category span {
  color: hsl(184, 14%, 56%);
  display: block;
  font-size: 16px;
}

.result {
  color: hsl(172, 67%, 45%);
  font-size: 36px;
}

@media (width <= 800px) {
  .output {
    padding: 30px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 24px;
  font-family: "Space Mono";
  font-weight: 700;
  background-color: hsl(185, 41%, 84%);
  color: hsl(186, 14%, 43%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (width <= 800px) {
  header {
    margin-top: 40px;
  }
}

/*# sourceMappingURL=index.css.map */
