@mixin app() {
  background: $card-bg;
  width: 320px;
  padding: 22px;
  border-radius: 12px;
  box-shadow: 0 20px 6px 20px RGB(12, 23, 41);

  .image-container {
    position: relative;
    cursor: pointer;
    
    .nft-image {
      width: 100%;
      border-radius: 8px;
    }

    .overlay {
      display: none;
    }

    &:hover {
      .overlay {
        display: block;
        background: $image-overlay;
        position: absolute;
        top: 0;
        height: 320px;
        width: 320px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
      }
    }
  }

  .nft-information {
    color: $soft-blue;

    .name {
      color: $white;
      font-weight: 600;
      width: max-content;
      cursor: pointer;
      &:hover {
        color: $cyan;
      }
    }

    .description {
      font-weight: 300;
      line-height: 30px;
    }

    .availability {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
      border-bottom: 1px solid $very-dark-blue;
      margin-bottom: 10px;

      .price {
        color: $cyan;
        font-weight: 600;
        .icon {
          position: relative;
          top: 3px;
          img {
            width: 12px;
          }
        }
      }
      .time-remaining {
        .icon {
          position: relative;
          top: 3px;
        }
      }

      .icon {
        margin-right: 10px;
        img {
          height: 20px;
          width: 20px;
        }
      } 
    }
    .creator {
      display: flex;
      align-items: center;
      font-weight: 300;
      .avatar {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        outline: 1px solid $white;
        margin-right: 16px;
      }
      .name {
        font-weight: 300;
        margin: 0;
      }
    }
  }
}