@use "colors" as c;
@use "sass:color";

$theme-colors: map-get(
  $map: c.$theme,
  $key: "dark",
);
@debug $theme-colors;
@debug map-get($theme-colors, "toggle");

header {
  font-weight: 700;
  padding-bottom: 100px;
  padding-top: 30px;
  padding-inline: 20px;

  h1 {
    font-size: 24px;
    margin-bottom: 4px;
  }

  hr {
    // display: none;
    border: none;
    margin-block: 16px;
  }
}

.dark header {
  $colors: map-get(c.$theme, "dark");
  background: map-get($colors, "header-background");

  label,
  p {
    color: map-get($colors, "secondary-text");
  }

  hr {
    border-bottom: 1px solid
      color.adjust(map-get($colors, "secondary-text"), $alpha: -0.7);
  }
}

.toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;

  label {
    pointer-events: none;
  }

  input {
    display: none;
  }

  .switch {
    height: 20px;
    width: 40px;
    background: #ccc;

    border-radius: 10px;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      height: 14px;
      width: 14px;
      background: map-get($theme-colors, "header-background");
      margin-top: 3px;
      margin-left: 3px;
      border-radius: 50%;
      transform: translateX(20px);
      transition: transform 0.3s ease-in-out;
    }
  }

  input:checked + .switch {
    background: map-get($theme-colors, "toggle");

    &::before {
      transform: translateX(0);
    }
  }
}
