@use "colors" as c;
@use "sass:color";

$theme-colors: map-get(
  $map: c.$theme,
  $key: "dark",
);
@debug $theme-colors;
@debug map-get($theme-colors, "toggle");

header {
  font-weight: 700;
  padding-top: 30px;
  background-color: transparent;
  margin-bottom: 40px;
  display: grid;
  grid-template-areas:
    "header toggle"
    "followers toggle";

  .background {
    position: absolute;
    height: 210px;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    z-index: -1;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 4px;
    grid-area: header;
  }

  p {
    grid-area: followers;
  }

  hr {
    display: none;
    border: none;
    margin-block: 16px;
  }
}

.dark header {
  $colors: map-get(c.$theme, "dark");

  .background {
    background: map-get($colors, "header-background");
  }

  label,
  p {
    color: map-get($colors, "secondary-text");
  }

  hr {
    border-bottom: 1px solid
      color.adjust(map-get($colors, "secondary-text"), $alpha: -0.7);
  }
}

.toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  grid-area: toggle;

  label {
    pointer-events: none;
  }

  input {
    display: none;
  }

  .switch {
    height: 20px;
    width: 40px;
    background: #ccc;

    border-radius: 10px;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      height: 14px;
      width: 14px;
      background: map-get($theme-colors, "header-background");
      margin-top: 3px;
      margin-left: 3px;
      border-radius: 50%;
      transform: translateX(20px);
      transition: transform 0.3s ease-in-out;
    }
  }

  input:checked + .switch {
    background: map-get($theme-colors, "toggle");

    &::before {
      transform: translateX(0);
    }
  }
}

@media (width <= 1100px) {
  header {
    display: block;
    margin-bottom: 30px;
    hr {
      display: block;
    }

    .toggle {
      justify-content: space-between;
    }

    .background {
      height: 230px;
    }
  }
}
