@use "colors" as c;
@use "theme";
@use "sizes";
@use "header";
@use "accounts";
@use "account";
@use "overview";
@use "stat";

@mixin google-font($family, $weight: 400) {
  @import url("https://fonts.googleapis.com/css?family=#{$family}:#{$weight}");
}

@include google-font("Inter");
@include google-font("Inter", 700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.social-media-dashboard {
  font: {
    family: "Inter";
    size: 14px;
    weight: 400;
  }

  height: 100vh;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 20px;
}

.increase {
  color: c.$increase;

  &::before {
    content: url("src/projects/junior/social-media-dashboard-with-theme-switcher-master/src/assets/images/icon-up.svg");
  }
}

.decrease {
  color: c.$decrease;

  &::before {
    content: url("src/projects/junior/social-media-dashboard-with-theme-switcher-master/src/assets/images/icon-down.svg");
  }
}

.change {
  &::before {
    vertical-align: 4px;
    margin-right: 4px;
  }
}
