nav ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

@font-face {
  font-family: Inter;
  src: url("src/projects/junior/news-homepage-main/src/assets/fonts/Inter-VariableFont_slnt,wght.ttf");
  font-weight: 400 700 800;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: Inter;
  background-color: hsl(36, 100%, 99%);
  color: hsl(240, 100%, 5%);
}

.news-homepage {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}

main {
  display: grid;
  grid-template-areas: "article aside" "section section";
  grid-template-columns: 1fr 350px;
  column-gap: 30px;
  row-gap: 60px;
}

a {
  text-decoration: none;
  color: hsl(236, 13%, 42%);
}
a:hover {
  color: hsl(5, 85%, 63%);
}

article {
  grid-area: article;
  display: grid;
  gap: 20px 40px;
  grid-template-areas: "image image" "title summary" "title button";
}
article img {
  grid-area: image;
  width: 100%;
}
article h1 {
  font-weight: 800;
  font-size: clamp(32px, 4vw, 48px);
  grid-area: title;
}
article p {
  grid-area: summary;
  color: hsl(236, 13%, 42%);
  line-height: 2;
  margin-right: 10px;
}
article button {
  grid-area: button;
  width: max-content;
  height: 50px;
  align-self: end;
}

button {
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 40px;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: hsl(240, 100%, 5%);
}

aside {
  background-color: hsl(240, 100%, 5%);
  padding: 20px;
  margin: 0 auto;
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
aside h2 {
  color: hsl(35, 77%, 62%);
  font-size: 32px;
  margin-bottom: 10px;
}
aside h4 {
  color: hsl(36, 100%, 99%);
  cursor: pointer;
  width: max-content;
  font-size: 20px;
  margin-bottom: 8px;
}
aside h4:hover {
  color: hsl(35, 77%, 62%);
}
aside p {
  color: hsl(233, 8%, 79%);
  padding-bottom: 20px;
}

.sidebar-preview:not(:last-child) {
  border-bottom: 1px solid hsl(236, 13%, 42%);
}

.popular-articles {
  display: flex;
  grid-area: section;
  gap: 10px;
}

.article-preview {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: center;
}
.article-preview img {
  width: 100%;
}
.article-preview h2 {
  color: hsl(233, 8%, 79%);
  font-size: 36px;
}
.article-preview h4 {
  font-weight: 800;
  font-size: 18px;
  cursor: pointer;
}
.article-preview h4:hover {
  color: hsl(5, 85%, 63%);
}
.article-preview p {
  color: hsl(236, 13%, 42%);
}
.article-preview .text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (width < 1100px) {
  article {
    grid-template-areas: "image" "title" "summary" "button";
  }
}
@media (width < 768px) {
  main {
    grid-template-areas: "article" "aside" "section";
    grid-template-columns: 1fr;
  }
  .popular-articles {
    display: grid;
    gap: 20px;
  }
}

/*# sourceMappingURL=index.css.map */
