$text-primary-blue: hsl(238, 29%, 16%);
$text-primary-red: hsl(14, 88%, 65%);

$background-violet: hsl(273, 75%, 66%);
$background-blue: hsl(240, 73%, 65%);

$text-neutral-very-dark-gray: hsl(237, 12%, 33%);
$text-neutral-dark-gray: hsl(240, 6%, 50%);

$divider-gray: hsl(240, 5%, 91%);
