@mixin illustration() {
  position: relative;
  width: min-content;
  &.desktop {
    // margin-right: 60px;
    position: relative;
    margin-left: -140px;

    .background {
      position: absolute;
      width: 100%;
      top: -40px;
    }
    .box {
      position: absolute;
      left: -20px;
      bottom: 35px;
    }
  }

  &.mobile {
    margin: 0 auto;
    position: relative;
    top: -170px;
    margin-bottom: -120px;

    .woman {
      width: 240px;
    }
    .background {
      position: absolute;
      bottom: -30px;
    }
  }
}
