@use "colors" as c;
@use "sizes";

.about {
  color: #fff;

  button {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 700;
    padding: 12px 24px;
    letter-spacing: 2px;
    cursor: pointer;

    &:hover {
      color: c.$dark-violet;
      background-color: #fff;
    }
  }
}

.desktop .about {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  background: c.$dark-violet
    url("src/projects/junior/insure-landing-page-master/src/assets/images/bg-pattern-how-we-work-desktop.svg")
    no-repeat top right;
  padding-block: 60px;
  padding-inline: min(9.1vw, 100px);
  margin-bottom: 120px;
  max-width: sizes.$content-width;
  margin-inline: auto;

  h1 {
    font-size: min(4.4vw, 48px);
    line-height: min(4.4vw, 48px);
  }

  button {
    height: min-content;
  }
}

.mobile .about {
  text-align: center;
  background: c.$dark-violet
    url("src/projects/junior/insure-landing-page-master/src/assets/images/bg-pattern-how-we-work-mobile.svg")
    no-repeat top right;
  margin-inline: sizes.$margin-inline;
  margin-bottom: 100px;
  padding: 60px 40px;

  h1 {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 40px;
  }
}
