@use "colors" as c;
@use "sizes";

.footer-nav {
  font-weight: 700;
  letter-spacing: 1px;

  ul {
    list-style: none;
  }

  h4 {
    font-family: Karla;
    font-weight: 700;
    color: c.$dark-grayish-violet;
    margin-bottom: 34px;
  }

  a {
    color: c.$very-dark-violet;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul > li > ul > li {
    margin-bottom: 14px;
  }

  ul > li {
    margin-bottom: 40px;
  }
}

.desktop .footer-nav {
  max-width: sizes.$content-width;
  margin-inline: auto;
  margin-top: 40px;
  margin-bottom: 20px;

  & > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.mobile .footer-nav {
  margin-top: 50px;
  margin-bottom: 80px;
}

@include sizes.responsive-margins(".desktop .footer-nav");
