nav {
  ul {
    list-style: none;
    display: flex;
    gap: 10px 20px;
  }

  a {
    text-decoration: none;
    color: initial;
  }

  li:last-child {
    border: 1px solid red;
  }
}

.desktop nav {
}

.mobile nav {
  ul {
    flex-direction: column;
  }
}
