@use "colors" as c;

nav {
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px 24px;
  }

  a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
  }

  li:last-child {
    background-color: c.$dark-violet;
    color: #fff;

    a {
      padding: 8px 24px;
      display: block;
    }

    a:hover {
      color: #fff;
    }
  }
}

.desktop nav {
  color: c.$dark-grayish-violet;

  a {
    &:hover {
      color: c.$very-dark-violet;
    }
  }
}

.mobile nav {
  ul {
    flex-direction: column;
  }
}
