@use "sass:string";

$content-width: 1100px;
$margin-inline: 20px;

@mixin responsive-margins($selector) {
  $scrollbar-width: 14px;

  $margin-breakpoint: calc(
    $content-width + 2 * $margin-inline + $scrollbar-width
  );

  @media (width <= $margin-breakpoint) {
    #{string.unquote($selector)} {
      margin-inline: $margin-inline;
    }
  }
}
