@mixin google-font($family, $weight: 400) {
  @import url("https://fonts.googleapis.com/css?family=#{$family}:#{$weight}");
}

@include google-font("DM Serif Display");
@include google-font("Karla");
@include google-font("Karla", 700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: {
    family: "Karla";
    size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display";
  font-weight: 400;
}
