@use "sizes";

@use "header";
@use "nav";
@use "mobileNav";
@use "main";
@use "hero";
@use "features";

@mixin google-font($family, $weight: 400) {
  @import url("https://fonts.googleapis.com/css?family=#{$family}:#{$weight}");
}

@include google-font("DM Serif Display");
@include google-font("Karla");
@include google-font("Karla", 700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: {
    family: "Karla";
    size: 16px;
  }
}

.insure {
  margin-inline: sizes.$margin-inline;
  max-width: 1920px;
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display";
  font-weight: 400;
}
