@use "colors" as c;
@use "sizes";

header {
  display: grid;
  align-items: center;

  button {
    border: none;
    background: none;
    cursor: pointer;
  }

  img {
    display: block;
  }
}

.desktop header {
  grid-template-columns: 145px 1fr 22px 50px;
  gap: 50px;
  margin-inline: sizes.$inline-spacing;
  padding-block: 30px 34px;
  border-bottom: 1px solid #e0e0e6;

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    &:hover {
      outline: 2px solid c.$orange;
    }
  }
}

.mobile header {
  grid-template-columns: 16px 1fr 22px 24px;
  gap: 20px;
  padding: 24px;

  .avatar {
    width: 24px;
    height: 24px;
  }
}
