.desktop main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 80px;
  gap: clamp(1px, calc(0.25 * 100vw - 192px), 70px);
  max-width: 1050px;
  margin-inline: auto;
  margin-top: clamp(40px, 8vw, 85px);

  & > .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
