@use "colors" as c;

.desktop nav {
  ul {
    display: flex;
    gap: 33px;
    gap: min(33px, 3vw);
    font-size: 15px;
  }

  li:hover {
    position: relative;

    &::after {
      content: "";
      display: block;
      height: 4px;
      width: 100%;
      background: c.$orange;
      position: absolute;
      bottom: -50px;
    }
  }
}
