@use "colors" as c;
@use "sizes";

.product-info {
  padding-inline: sizes.$inline-spacing;

  .brand {
    text-transform: uppercase;
    color: c.$orange;
    font-size: 14px;
    letter-spacing: 1px;
  }

  .name {
    color: c.$very-dark-blue;
  }

  .summary {
    line-height: 1.6;
  }

  .price {
    .current {
      color: c.$very-dark-blue;
      font-weight: 700;
      font-size: 30px;
    }

    .discount {
      font-weight: 700;
      color: c.$orange;
      background-color: c.$pale-orange;
      border-radius: 4px;
      padding-inline: 7px;
      padding-block: 2px;
      display: inline-block;
    }

    .previous {
      color: c.$grayish-blue;
      font-weight: 700;
      text-decoration: line-through;
    }
  }
}

.mobile .product-info {
  margin-top: 26px;
  margin-bottom: 26px;

  .brand {
    margin-bottom: 14px;
  }

  .name {
    font-size: 30px;
    margin-bottom: 0.5em;
  }

  .summary {
    margin-bottom: 1.8em;
  }

  .price {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 375px;
    margin-inline: auto;

    .previous {
      margin-left: auto;
    }
  }
}
