@use "colors" as c;
@use "sizes";

@use "modal";
@use "comments";
@use "comment";
@use "addCommentForm";

@mixin google-font($family, $weight: 400) {
  @import url("https://fonts.googleapis.com/css?family=#{$family}:#{$weight}");
}

@include google-font("Rubik");
@include google-font("Rubik", 500);
@include google-font("Rubik", 700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: c.$very-light-gray;
}

.interactive-comments {
  font: {
    family: "Rubik";
    weight: 400;
    size: 16px;
  }

  color: c.$grayish-blue;
  margin-bottom: 2em;

  button {
    &.form {
      color: c.$white;

      @each $type, $color in c.$form-buttons {
        &.#{$type} {
          background-color: $color;
        }
      }

      font: {
        family: "Rubik";
        weight: 500;
        size: 16px;
      }
      text-transform: uppercase;
      border: none;
      padding-block: 0.8em;
      border-radius: 6px;
      cursor: pointer;

      &.send {
        width: 100px;
      }

      &:hover {
        opacity: 0.5;
      }
    }

    &.icon {
      border: none;
      background: none;
      cursor: pointer;
      color: c.$moderate-blue;

      &.delete {
        color: c.$soft-red;
      }

      font: {
        family: "Rubik";
        weight: 500;
        size: initial;
      }

      &:hover {
        opacity: 0.5;
      }

      &::before {
        margin-right: 6px;
      }

      @each $type in ("delete", "edit", "reply") {
        &.#{$type}::before {
          content: url("src/projects/intermediate/interactive-comments-section-main/src/assets/images/icon-#{$type}.svg");
        }
      }
    }
  }

  textarea {
    font: {
      family: "Rubik";
      size: inherit;
    }
    height: 6em;
    padding: 0.6em 1em;
    border-radius: 8px;
    line-height: 1.5;
    resize: none;
    overflow: hidden;
    border-color: #e2e3e6;
    color: c.$dark-blue;

    &:focus-within {
      outline: none;
      border-color: c.$dark-blue;
    }
  }
}
