.balance {
  background-color: $soft-red;
  color: $very-pale-orange;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;

  h6 {
    font-weight: 400;
    margin-bottom: 4px;
  }

  .logo {
    height: 30px;
  }
}
