.chart {
  background-color: $very-pale-orange;
  padding: 22px;
  border-radius: 10px;

  h3 {
    color: $dark-brown;
    margin-bottom: 10px;
  }
}

.data-points {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 2px;
}
