@use "sizes" as sizes;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: sizes.$content-width;
  margin-inline: auto;
}

.hamburger {
  cursor: pointer;
}

.logo {
  width: clamp(150px, 19.5vw, 190px);
}

.mobile header {
  margin-top: sizes.$mobile-margin-top;
}
