@use "colors" as c;

.hero {
  display: flex;
  color: c.$white;
  font-family: "Josefin Sans";
  display: flex;
  align-items: center;

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    z-index: -1;
    width: 100%;
    max-width: 1920px;
  }

  h1 {
    font-weight: 400;
  }
}

.desktop .hero {
  height: clamp(1px, calc(45.1vw - clamp(65px, 8.2vw, 90px)), 776px);

  h1 {
    width: clamp(1px, 44.3vw, 640px);
    border: clamp(2px, 0.2vw, 4px) solid c.$white;
    padding: clamp(8px, 2.4vw, 34px);
    font-size: clamp(16px, 5vw, 72px);
  }
}

.mobile .hero {
  height: calc(173.3vw - 65px);

  h1 {
    border: 2px solid c.$white;
    padding: 6.9vw;
    font-size: 10.7vw;
  }
}
