@use "colors" as c;

// 1440 x 650

.hero {
  display: flex;
  color: c.$white;
  font-family: "Josefin Sans";
  // border: 1px solid rgb(9, 255, 0);
  height: calc(45.1vw - clamp(65px, 8.2vw, 90px));
  display: flex;
  align-items: center;

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    z-index: -1;
    width: 100vw;
    max-width: 1920px;
  }

  h1 {
    font-weight: 400;
    width: clamp(1px, 44.3vw, 640px);
    border: clamp(2px, 0.2vw, 4px) solid c.$white;
    padding: clamp(8px, 2.4vw, 34px);
    font-size: clamp(16px, 5vw, 72px);
  }
}
