@use "colors" as c;
@use "sizes" as sizes;

$links: 5;

@mixin staggeredFade($position) {
  animation: fadeIn 0.2s ease-in-out #{0.1s + 0.1s * $position} both;
}

.mobile-menu {
  background-color: c.$black;
  padding: 20px;
  padding-top: sizes.$mobile-margin-top;
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  border: none;
  animation: fadeIn 0.2s ease-in;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
  }

  @for $i from 1 through $links {
    li:nth-child(#{$i}) {
      @include staggeredFade($i);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
