@use "colors" as c;
@use "sizes" as sizes;

@use "header";
@use "nav";
@use "mobileMenu";
@use "hero";
@use "main";
@use "summary";

@mixin google-font($family, $weight: 400) {
  @import url("https://fonts.googleapis.com/css?family=#{$family}:#{$weight}");
}

@include google-font("Alata");
@include google-font("Josefin Sans", 300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 20px;
}

h2 {
  font-family: "Josefin Sans";
  color: c.$black;
  font-weight: 300;
}

.loopstudios {
  max-width: sizes.$content-width;
  margin-inline: auto;

  font: {
    family: "Alata";
    size: 15px;
  }
  color: c.$dark-gray;

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: c.$white;
  }
}

.desktop.loopstudios {
  margin-top: sizes.$header-margin-top;

  h2 {
    font-size: 46px;
    margin-bottom: 24px;
  }
}

.mobile.loopstudios {
  h2 {
    font-size: 32px;
    margin-bottom: 16px;
  }
}
