.card-front {
  background: {
    image: url("src/projects/junior/interactive-card-details-form-main/src/assets/images/bg-card-front.png");
    repeat: no-repeat;
    size: cover;
  }
  aspect-ratio: 447 / 245;
  max-width: 447px;
  position: relative;
  color: $white;
}

.wrapper {
  padding: 5%;
}

.card-details {
  display: grid;
  grid-template-areas:
    "number number"
    "name expiry";
}

.card-number {
  grid-area: number;
}

.name {
  grid-area: name;
}

.expiry {
  grid-area: expiry;
}

.logo {
  width: 20%;
}
