form {
  display: grid;
  grid-template-areas:
    "name name "
    "number number"
    "expiry cvc"
    "button button";
  grid-template-columns: 1fr 1fr;
  max-width: 400px;
  min-width: 320px;

  label {
    font-size: 14px;
    color: $very-dark-violet;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 8px;
    width: max-content;
  }

  button {
    grid-area: button;
    margin-top: 10px;
  }
}

.field {
  margin-bottom: 26px;

  &.name {
    grid-area: name;
  }
  &.number {
    grid-area: number;
  }
  &.expiry {
    grid-area: expiry;
    & > input {
      width: 40%;
      margin-right: 10px;
    }
  }
  &.cvc {
    grid-area: cvc;
  }
}

input {
  padding: 10px;
  border: 2px solid $light-grayish-violet;
  border-radius: 6px;
  font-family: "Space Grotesk";
  font-size: 20px;
  outline: none;
  width: 100%;

  &:focus {
    border-top-color: $light-border;
    border-left-color: $light-border;
    border-right-color: $dark-border;
    border-bottom-color: $dark-border;
  }

  &::placeholder {
    font-family: "Space Grotesk";
    color: $placeholder;
  }
}

button {
  background-color: $very-dark-violet;
  color: $white;
  font-family: "Space Grotesk";
  font-size: 20px;
  padding: 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 6px #0006;
  }
}
