.interactive-cards {
  max-width: 550px;
  min-width: 370px;
  width: 30vw;
  position: absolute;
  align-self: center;
  margin-left: 5%;

  &.desktop {
    .card-front {
      margin-right: 20%;
      margin-bottom: 5%;
    }
    .card-back {
      margin-left: 20%;
    }
  }

  &.mobile {
    margin-left: 0;
    height: 300px;
    min-width: 340px;

    .card-front {
      position: absolute;
      bottom: 0;
      z-index: 2;
    }

    .card-back {
      position: absolute;
      right: 0;
      top: 43px;
    }
  }
}
