@import "https://fonts.googleapis.com/css?family=Space+Grotesk:500";
@import "colors";
@import "cardFront";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: {
    family: "Space Grotesk";
    size: 18px;
    weight: 500;
  }
}
