@import "https://fonts.googleapis.com/css?family=Space+Grotesk:500";
@import "colors";
@import "cardFront";
@import "cardBack";
@import "interactiveCards";
@import "cardForm";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: {
    family: "Space Grotesk";
    size: 18px;
    weight: 500;
  }
}

.card-details-form {
  display: flex;
  max-width: 1920px;
}

.desktop-bg {
  height: 100vh;
  min-height: 900px;
  display: block;
  width: 25%;
}

.mobile-bg {
  max-height: 240px;
  margin-bottom: 100px;
}

@media (width < 1020px) {
  .card-details-form {
    flex-direction: column;
  }
}
