@import "https://fonts.googleapis.com/css?family=Overpass:300";
@import "https://fonts.googleapis.com/css?family=Overpass:600";
@import "https://fonts.googleapis.com/css?family=Ubuntu:400";
@import "https://fonts.googleapis.com/css?family=Ubuntu:500";
@import "https://fonts.googleapis.com/css?family=Ubuntu:700";
header {
  background-color: hsl(13, 100%, 72%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 30px;
}

.nav-wrapper {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

nav {
  font-family: "Ubuntu";
  font-weight: 400;
}
nav ul {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: initial;
}

.mobile header nav {
  color: red;
}
.mobile footer nav {
  color: yellow;
}

.desktop header nav > ul {
  display: flex;
  gap: 40px;
}
.desktop header p {
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  opacity: 0.75;
  cursor: pointer;
}
.desktop header p:hover {
  color: hsl(0, 0%, 100%);
  text-decoration: underline 2px;
  opacity: 1;
}
.desktop header p::after {
  content: url("src/projects/junior/blogr-landing-page-main/src/assets/images/icon-arrow-light.svg");
  margin-left: 4px;
  position: relative;
  bottom: 2px;
  vertical-align: text-bottom;
  display: inline-block;
}
.desktop header nav li.selected p {
  color: hsl(0, 0%, 100%);
  text-decoration: underline 2px;
  opacity: 1;
}
.desktop header nav li.selected p::after {
  transform: rotate(180deg);
  top: 2px;
}
.desktop header nav > ul > li {
  position: relative;
}
.desktop header nav > ul > li.selected ul {
  visibility: visible;
  animation: 0.2s ease-in expand;
  transform-origin: top;
}
.desktop header nav > ul > li.selected ul li {
  opacity: 0;
  animation: 0.2s ease-in 0.2s forwards fadeIn;
}
.desktop header nav > ul > li ul {
  visibility: hidden;
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  position: absolute;
  top: 40px;
  left: -20px;
  width: 150px;
}
.desktop header nav > ul > li ul li {
  margin-bottom: 10px;
}
.desktop header nav > ul > li ul li:last-child {
  margin-bottom: 0;
}
.desktop header nav > ul > li ul li a:hover {
  font-weight: 700;
}

@keyframes expand {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.account-actions {
  display: flex;
  gap: 30px;
}

.login-btn {
  padding: 0;
  width: max-content;
  background-color: transparent;
  color: #fff;
  opacity: 0.75;
}
.login-btn:hover {
  opacity: 1;
}

.mobile-menu .icon {
  cursor: pointer;
}
.mobile-menu .icon:hover {
  opacity: 0.75;
}
.mobile-menu .modal {
  position: absolute;
  top: 80px;
  left: 5vw;
  background-color: #fff;
  width: 90vw;
  min-width: 300px;
  text-align: center;
  padding: 20px;
  border-radius: 4px;
  animation: 0.2s ease-in expand;
  transform-origin: top;
}
.mobile-menu .modal p {
  font-weight: 500;
  color: #222;
  cursor: pointer;
  width: max-content;
  margin: 20px auto;
}
.mobile-menu .modal p:hover {
  opacity: 0.75;
}
.mobile-menu .modal p::after {
  content: url("src/projects/junior/blogr-landing-page-main/src/assets/images/icon-arrow-dark.svg");
  margin-left: 6px;
  position: relative;
  bottom: 2px;
  vertical-align: text-bottom;
  display: inline-block;
}
.mobile-menu .modal nav > ul > li ul {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 20px;
  border-radius: 4px;
  display: none;
}
.mobile-menu .modal nav > ul > li ul a {
  color: #333;
}
.mobile-menu .modal nav > ul > li ul a:hover {
  color: #000;
}
.mobile-menu .modal nav li.selected p::after {
  transform: rotate(180deg);
  top: 2px;
}
.mobile-menu .modal nav li.selected ul {
  display: flex;
  animation: 0.2s ease-in expand;
  transform-origin: top;
}
.mobile-menu .modal nav li.selected ul > * {
  opacity: 0;
  animation: 0.2s ease-in 0.2s forwards fadeIn;
}
.mobile-menu .account-actions {
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-top: 1px solid #ddd;
}
.mobile-menu .login-btn {
  color: #222;
  opacity: 1;
  font-weight: 500;
}
.mobile-menu .login-btn:hover {
  opacity: 0.75;
}
.mobile-menu button.primary {
  background: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  color: #fff;
  font-weight: 700;
  padding: 14px;
  width: 140px;
}
.mobile-menu button.primary:hover {
  background: linear-gradient(270deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
}

.modal nav,
.modal .account-actions {
  opacity: 0;
  animation: 0.2s ease-in 0.2s forwards fadeIn;
}

@keyframes expand {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
footer {
  background-color: hsl(240, 10%, 16%);
  border-top-right-radius: 100px;
}
footer p {
  color: hsl(0, 0%, 100%);
  margin-bottom: 30px;
  font-weight: 500;
}
footer a {
  color: hsl(240, 2%, 79%);
}
footer a:hover {
  text-decoration: underline 2px;
}
footer nav > ul {
  display: grid;
}

.mobile footer {
  text-align: center;
  padding-block: 70px;
}
.mobile footer .logo {
  margin-bottom: 60px;
}
.mobile footer li ul li {
  margin-bottom: 10px;
}
.mobile footer nav > ul {
  gap: 40px;
}

.desktop footer {
  padding-block: 60px;
}
.desktop footer .footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 30px;
}
.desktop footer nav > ul {
  grid-template-columns: 1fr 1fr 1fr;
}
.desktop footer li ul li {
  margin-bottom: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Overpass";
  font-weight: 300;
  color: hsl(207, 13%, 34%);
}

.blogr {
  max-width: 1920px;
  margin: 0 auto;
}

button {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  width: 120px;
  border-radius: 38px;
  border: none;
}
button.primary {
  background-color: #fff;
  color: hsl(356, 100%, 66%);
}
button.primary:hover {
  background-color: hsl(355, 100%, 74%);
  color: #fff;
}
button.secondary {
  background-color: transparent;
  color: #fff;
  outline: 1px solid #fff;
}
button.secondary:hover {
  background-color: #fff;
  color: hsl(356, 100%, 66%);
}

/*# sourceMappingURL=index.css.map */
