@import "https://fonts.googleapis.com/css?family=Space+Grotesk:500";
.card-front {
  background-image: url("src/projects/junior/interactive-card-details-form-main/src/assets/images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 447/245;
  max-width: 447px;
  min-width: 300px;
  position: relative;
  color: hsl(0, 0%, 100%);
  container-type: size;
}

.wrapper {
  padding: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-details {
  display: grid;
  grid-template-areas: "number number" "name expiry";
  letter-spacing: 2px;
  row-gap: 4cqw;
  overflow: clip;
}

.card-number {
  grid-area: number;
  font-size: 6.6cqw;
}

.card-name,
.card-expiry {
  font-size: 3.5cqw;
}

.card-name {
  grid-area: name;
}

.card-expiry {
  grid-area: expiry;
  margin-left: auto;
}

.logo {
  width: 20%;
}

.card-back {
  background-image: url("src/projects/junior/interactive-card-details-form-main/src/assets/images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 447/245;
  max-width: 447px;
  min-width: 300px;
  color: hsl(0, 0%, 100%);
}

.cvc-strip {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15%;
  letter-spacing: 2px;
}

.interactive-cards {
  max-width: 550px;
  min-width: 370px;
  width: 30vw;
}
.interactive-cards .card-front {
  margin-right: 20%;
  margin-bottom: 5%;
}
.interactive-cards .card-back {
  margin-left: 20%;
}

form {
  display: grid;
  grid-template-areas: "name name " "number number" "expiry cvc" "button button";
  grid-template-columns: 1fr 1fr;
  max-width: 400px;
  min-width: 320px;
  height: min-content;
  align-self: center;
  margin: 0 auto;
  padding: 10px;
}
form label {
  font-size: 14px;
  color: hsl(278, 68%, 11%);
  letter-spacing: 1px;
  display: block;
  padding-bottom: 8px;
  width: max-content;
}
form button {
  grid-area: button;
  margin-top: 10px;
}

.field {
  margin-bottom: 26px;
}
.field.name {
  grid-area: name;
}
.field.number {
  grid-area: number;
}
.field.expiry {
  grid-area: expiry;
}
.field.expiry > input {
  width: 40%;
  margin-right: 10px;
}
.field.cvc {
  grid-area: cvc;
}

input {
  padding: 10px;
  border: 2px solid hsl(270, 3%, 87%);
  border-radius: 6px;
  font-family: "Space Grotesk";
  font-size: 20px;
  outline: none;
  width: 100%;
}
input:focus {
  border-top-color: hsl(249, 99%, 64%);
  border-left-color: hsl(249, 99%, 64%);
  border-right-color: hsl(278, 94%, 30%);
  border-bottom-color: hsl(278, 94%, 30%);
}
input::placeholder {
  font-family: "Space Grotesk";
  color: rgba(0, 0, 0, 0.2666666667);
}

button {
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  font-family: "Space Grotesk";
  font-size: 20px;
  padding: 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.error {
  color: hsl(0, 100%, 66%);
  font-size: 12px;
  margin-top: 4px;
}

.input-error {
  border-color: hsl(0, 100%, 66%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk";
  font-size: 18px;
  font-weight: 500;
}

.card-details-form {
  display: flex;
  max-width: 1920px;
}

.desktop-bg {
  height: 100vh;
  min-height: 900px;
  display: block;
  width: 25%;
}

.interactive-cards {
  position: absolute;
  align-self: center;
  margin-left: 5%;
}

/*# sourceMappingURL=index.css.map */
