.dropdown {
  .links {
    display: none;
    position: fixed;
    margin-top: 14px;
    padding: 22px;
    box-shadow: 0 0 20px #0003;
    background-color: #fff;
    min-width: max-content;

    ul {
      display: grid;
      gap: 16px;
      list-style-type: none;
    }

    img {
      margin-right: 12px;
    }
  }

  &.show {
    .links {
      display: block;
    }
  }
}

.btn-wrapper {
  display: flex;
  width: min-content;
  cursor: pointer;

  &:hover {
    button {
      color: $black;
    }

    .arrow-svg {
      path {
        stroke: $black;
      }
    }
  }
}

.arrow-svg {
  vertical-align: middle;
  padding-left: 6px;
  pointer-events: none;
}
