main {
  display: flex;
  gap: 3vw;
  justify-content: space-around;
  margin: 100px 26px 0;

  h1 {
    color: $black;
    font-size: 82px;
    font-size: 32px;
    font-size: 6vw;
    font-size: clamp(32px, 6vw, 82px);
    margin-bottom: 40px;
  }

  p {
    line-height: 1.7;
    margin-right: 70px;
    margin-bottom: 40px;
  }

  button {
    background-color: $black;
    color: $white;
    padding: 16px;
    font-weight: 700;
    border-radius: 6px;
    margin-bottom: 100px;

    &:hover {
      color: $white;
      box-shadow: 0 0 8px #0009;
    }
    &:active {
      transform: scale(0.98);
    }
  }

  .hero {
    flex-shrink: 2;
    img {
      width: 100%;
      max-height: 700px;
    }
  }
}

.clients {
  display: flex;
  align-items: baseline;
  gap: 30px 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 50px;
}

.summary {
  align-self: center;
  max-width: 550px;
  flex-shrink: 5;
}
