.mobile-menu {
  width: 260px;
  color: $gray;
  text-align: left;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: auto;
  height: auto;
  padding: 20px;
  border: none;

  .close-btn {
    margin-left: auto;
    display: block;
    cursor: pointer;
    margin-bottom: 30px;
  }
}

::backdrop {
  background-color: #0007;
}
