@import "colors";
@import "https://fonts.googleapis.com/css?family=Epilogue:500";
@import "https://fonts.googleapis.com/css?family=Epilogue:700";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: {
    family: "Epilogue";
    size: 18px;
    weight: 500px;
  }

  background-color: $white;
  color: $gray;
}
