@import url("https://fonts.googleapis.com/css?family=DM Serif Display:400");
@import url("https://fonts.googleapis.com/css?family=Karla:400");
@import url("https://fonts.googleapis.com/css?family=Karla:700");
header {
  background-color: #fff;
  padding-inline: 20px;
}
header .wrapper {
  max-width: 1100px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}
header img {
  display: block;
}
header button {
  border: none;
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px 30px;
}
nav a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}
nav li:last-child {
  color: #fff;
}

.desktop nav {
  color: hsl(273, 4%, 51%);
}
.desktop nav a:hover {
  color: hsl(270, 9%, 17%);
}
.desktop nav li:last-child a {
  padding: 8px 24px;
  display: block;
  color: hsl(270, 9%, 17%);
  border: 2px solid hsl(270, 9%, 17%);
}
.desktop nav li:last-child a:hover {
  color: #fff;
  background-color: hsl(270, 9%, 17%);
}

.mobile nav {
  color: #fff;
  font-size: 20px;
  padding-top: 50px;
  text-align: center;
  padding-inline: 20px;
  background-color: rgba(43, 39, 47, 0.9);
}
.mobile nav ul {
  flex-direction: column;
}
.mobile nav li:last-child {
  border: 2px solid #fff;
  width: 100%;
  max-width: 500px;
  margin-top: -12px;
}
.mobile nav li:last-child a {
  width: 100%;
  display: block;
  padding-block: 12px;
}

.mobile-nav {
  border: none;
  width: 100%;
  height: 100%;
  max-width: unset;
  max-height: unset;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsl(270, 9%, 17%) url("src/projects/junior/insure-landing-page-master/src/assets/images/bg-pattern-mobile-nav.svg") no-repeat bottom center/100%;
}

.desktop main {
  background: linear-gradient(hsl(256, 26%, 20%) 600px, #fff 600px);
}

.hero img {
  display: block;
  width: 100%;
}
.hero .introduction {
  color: #fff;
}
.hero button {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 700;
  padding: 12px 24px;
  letter-spacing: 2px;
  cursor: pointer;
}

.desktop .hero {
  position: relative;
  background: url("src/projects/junior/insure-landing-page-master/src/assets/images/bg-pattern-intro-left-desktop.svg") no-repeat bottom left;
}
.desktop .hero .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 450px;
  right: 0;
  background: url("src/projects/junior/insure-landing-page-master/src/assets/images/bg-pattern-intro-right-desktop.svg") no-repeat top -80px right;
}
.desktop .hero .wrapper {
  max-width: 1100px;
  margin-inline: auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(420px, 1fr);
  gap: 20px;
  grid-template-areas: "introduction image";
  padding-top: 100px;
  padding-bottom: 200px;
}
.desktop .hero .wrapper::after {
  content: "";
  position: absolute;
  bottom: 60px;
  display: block;
  border-top: 1px solid #a398c3;
  width: 155px;
}
.desktop .hero .introduction {
  grid-area: introduction;
  padding-top: 80px;
  position: relative;
  padding-left: 20px;
  margin-left: -20px;
}
.desktop .hero .introduction h1 {
  font-size: clamp(38px, 5vw, 74px);
  line-height: clamp(36px, 4.9vw, 72px);
  margin-bottom: 30px;
}
.desktop .hero .introduction p {
  line-height: 26px;
  margin-bottom: 30px;
  background-color: rgba(45, 38, 64, 0.7);
}
.desktop .hero .introduction::before {
  content: "";
  position: absolute;
  top: 0;
  border-top: 1px solid #fff;
  display: block;
  width: 155px;
}
.desktop .hero button {
  background-color: rgba(45, 38, 64, 0.7);
}
.desktop .hero button:hover {
  background-color: #fff;
  color: hsl(256, 26%, 20%);
}
.desktop .hero img {
  grid-area: image;
}

.mobile .hero {
  text-align: center;
}
.mobile .hero img {
  margin-inline: auto;
  width: 100%;
}
.mobile .hero .introduction {
  padding-inline: 20px;
  padding-top: 90px;
  padding-bottom: 260px;
  background: url("src/projects/junior/insure-landing-page-master/src/assets/images/bg-pattern-intro-left-mobile.svg") no-repeat, url("src/projects/junior/insure-landing-page-master/src/assets/images/bg-pattern-intro-right-mobile.svg") no-repeat bottom right, linear-gradient(hsl(256, 26%, 20%) 69%, #fff 69%);
  position: relative;
}
.mobile .hero .introduction h1 {
  font-size: clamp(14px, 11.8vw, 46px);
  line-height: clamp(14px, 11.8vw, 46px);
  margin-bottom: 20px;
}
.mobile .hero .introduction p {
  padding-inline: 8px;
  line-height: 24px;
  margin-bottom: 30px;
}
.mobile .hero .introduction::after {
  content: "";
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  display: block;
  border-bottom: 1px solid #a398c3;
  width: 155px;
  margin-inline: auto;
}

@media (width <= 1154px) {
  .desktop .hero .wrapper {
    margin-inline: 20px;
  }
}
.features {
  margin-inline: 20px;
}
.features ul {
  list-style: none;
}
.features p {
  color: hsl(273, 4%, 51%);
  line-height: 26px;
}

.desktop .features {
  max-width: 1100px;
  margin-inline: auto;
  margin-bottom: 140px;
}
.desktop .features h1 {
  font-size: clamp(38px, 5vw, 74px);
  margin-bottom: 80px;
}
.desktop .features ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.desktop .features img {
  margin-bottom: 30px;
}
.desktop .features h3 {
  font-size: 26px;
  margin-bottom: 20px;
}

.mobile .features {
  text-align: center;
  margin-bottom: 100px;
}
.mobile .features ul {
  max-width: 500px;
  margin-inline: auto;
}
.mobile .features h1 {
  font-size: 46px;
  font-size: clamp(26px, 12.2vw, 46px);
  margin-bottom: 60px;
}
.mobile .features li {
  margin-bottom: 50px;
}
.mobile .features img {
  margin-bottom: 24px;
}
.mobile .features h3 {
  font-size: 26px;
  margin-bottom: 16px;
}
.mobile .features p {
  padding-inline: 6px;
}

@media (width <= 1154px) {
  .desktop .features {
    margin-inline: 20px;
  }
}
@media (width <= 1100px) {
  .desktop .features {
    text-align: center;
  }
  .desktop .features p {
    padding-inline: 8px;
  }
}
.about {
  color: #fff;
}
.about button {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 700;
  padding: 12px 24px;
  letter-spacing: 2px;
  cursor: pointer;
}
.about button:hover {
  color: hsl(256, 26%, 20%);
  background-color: #fff;
}

.desktop .about {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  background: hsl(256, 26%, 20%) url("src/projects/junior/insure-landing-page-master/src/assets/images/bg-pattern-how-we-work-desktop.svg") no-repeat top right;
  padding-block: 60px;
  padding-inline: min(9.1vw, 100px);
  margin-bottom: 200px;
  max-width: 1100px;
  margin-inline: auto;
}
.desktop .about h1 {
  font-size: min(4.4vw, 48px);
  line-height: min(4.4vw, 48px);
}
.desktop .about button {
  height: min-content;
}

.mobile .about {
  text-align: center;
  background: hsl(256, 26%, 20%) url("src/projects/junior/insure-landing-page-master/src/assets/images/bg-pattern-how-we-work-mobile.svg") no-repeat top right;
  margin-inline: 20px;
  margin-bottom: 100px;
  padding: 60px 40px;
}
.mobile .about h1 {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla";
  font-size: 16px;
}

.insure {
  max-width: 1920px;
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display";
  font-weight: 400;
}

/*# sourceMappingURL=index.css.map */
