@import "https://fonts.googleapis.com/css?family=Barlow:600";
@import "https://fonts.googleapis.com/css?family=Fraunces:700";
@import "https://fonts.googleapis.com/css?family=Fraunces:900";
.header-wrapper {
  position: relative;
}
.header-wrapper .background {
  width: 100%;
  z-index: -1;
  display: block;
}
.header-wrapper header {
  position: absolute;
  top: 0;
  width: 100%;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

h1 {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: clamp(36px, 6vw, 82px);
  font-size: clamp(36px, 6.87vw, 82px);
  color: hsl(0, 0%, 100%);
  text-align: center;
  letter-spacing: clamp(4px, 1vw, 12px);
  margin-top: clamp(30px, 10vw, 200px);
  padding-inline: 30px;
  cursor: default;
}

.down-arrow {
  display: block;
  margin: clamp(70px, 8vw, 150px) auto 0;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
nav a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
nav a:hover {
  color: hsl(212, 27%, 19%);
}

.contact-link {
  padding: 14px 20px;
  color: hsl(212, 27%, 19%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 28px;
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 14px;
}
.contact-link:hover {
  background-color: rgba(255, 255, 255, 0.3333333333);
  color: hsl(0, 0%, 100%);
}

.mobile-menu dialog {
  width: 100%;
  border: none;
  position: absolute;
  top: 120px;
  left: 20px;
  cursor: default;
}
.mobile-menu nav {
  padding: 40px;
}
.mobile-menu nav ul {
  flex-direction: column;
  text-align: center;
}
.mobile-menu nav ul li:last-child {
  margin-block: 10px;
}
.mobile-menu nav a {
  color: hsl(232, 10%, 55%);
}
.mobile-menu nav a:hover {
  color: hsl(212, 27%, 19%);
}
.mobile-menu .contact-link {
  background-color: hsl(51, 100%, 49%);
  color: hsl(212, 27%, 19%);
}
.mobile-menu .contact-link:hover {
  background-color: hsl(7, 99%, 70%);
}

.mobile-menu {
  cursor: pointer;
}
.mobile-menu:hover path {
  fill: rgb(183, 234, 250);
}

.services {
  text-align: center;
}
.services .transform a::after {
  background-color: #ffeb7d;
}
.services .transform a:hover::after {
  background-color: hsl(51, 100%, 49%);
}
.services .stand-out a::after {
  background-color: #ffbcb3;
}
.services .stand-out a:hover::after {
  background-color: hsl(7, 99%, 70%);
}
.services.desktop {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.services.desktop .transform {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/-1;
}
.services.desktop .transform img {
  grid-column: 2;
  grid-row: 1;
}
.services.desktop .transform .summary {
  grid-column: 1;
}
.services.desktop .stand-out {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/-1;
}
.services.desktop .stand-out img {
  grid-column: 1;
}
.services.desktop .stand-out .summary {
  grid-column: 2;
}
.services.desktop .summary {
  margin: 0 clamp(10px, 6vw, 150px);
}
.services.desktop h3 {
  font-size: 4vw;
  font-size: clamp(30px, 4vw, 72px);
}
.services.desktop p {
  font-size: 2vw;
  font-size: clamp(14px, 2vw, 22px);
  font-size: clamp(13px, 1.7vw, 34px);
}
.services.desktop a {
  margin: 0;
  font-size: clamp(14px, 2vw, 22px);
  font-size: clamp(13px, 1.7vw, 34px);
}
.services img {
  width: 100%;
}
.services .summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  gap: 14px;
  gap: clamp(16px, 2vw, 38px);
  margin: 60px 10vw;
}
.services h3 {
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 32px;
}
.services p {
  color: hsl(232, 10%, 55%);
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 10px;
}
.services a {
  text-decoration: none;
  font-family: "Fraunces";
  font-size: 14px;
  color: inherit;
  position: relative;
  display: block;
  width: max-content;
  margin: 0 auto;
  letter-spacing: 1px;
}
.services a::after {
  display: block;
  height: 12px;
  width: 100%;
  content: "";
  position: absolute;
  border-radius: 6px;
  padding-inline: 10px;
  left: -10px;
  bottom: -4px;
  z-index: -1;
}
.services a:hover::after {
  background-color: hsl(51, 100%, 49%);
}

.graphic-design,
.photography {
  position: relative;
  display: flex;
  justify-content: center;
}
.graphic-design img,
.photography img {
  display: block;
}
.graphic-design .summary,
.photography .summary {
  position: absolute;
  text-align: center;
}
.graphic-design .summary h4,
.photography .summary h4 {
  font-family: "Fraunces";
  font-weight: 900;
}

.photography .summary h4,
.photography .summary p {
  color: hsl(198, 62%, 26%);
}

.graphic-design .summary h4,
.graphic-design .summary p {
  color: hsl(167, 40%, 24%);
}

.services.mobile .photography,
.services.mobile .graphic-design {
  display: flex;
  align-items: flex-end;
}
.services.mobile .photography .summary,
.services.mobile .graphic-design .summary {
  margin-bottom: 18vw;
  margin-inline: 4vw;
}
.services.mobile .photography h4,
.services.mobile .graphic-design h4 {
  font-size: clamp(28px, 8vw, 58px);
}
.services.mobile .photography p,
.services.mobile .graphic-design p {
  font-size: clamp(16px, 4vw, 30px);
}

.services.desktop .photography .summary,
.services.desktop .graphic-design .summary {
  margin-top: clamp(175px, 24vw, 440px);
  gap: clamp(16px, 2vw, 38px);
}
.services.desktop .photography h4,
.services.desktop .graphic-design h4 {
  font-size: clamp(18px, 2vw, 40px);
}
.services.desktop .photography p,
.services.desktop .graphic-design p {
  font-size: clamp(13px, 1.7vw, 34px);
}

.testimonials {
  text-align: center;
}
.testimonials.mobile {
  padding-top: clamp(50px, 13vw, 100px);
  padding-bottom: clamp(70px, 18vw, 140px);
  padding-inline: clamp(20px, 5.3vw, 40px);
}
.testimonials.mobile .testimonial {
  margin-bottom: clamp(10px, 2.7vw, 20px);
}
.testimonials.mobile h2 {
  font-size: clamp(16px, 3.5vw, 32px);
  letter-spacing: clamp(5px, 1.3vw, 10px);
}
.testimonials.mobile .avatar {
  width: clamp(70px, 18vw, 120px);
  margin-top: clamp(60px, 16vw, 120px);
  margin-bottom: clamp(30px, 8vw, 60px);
}
.testimonials.mobile .comment {
  font-size: clamp(16px, 4.8vw, 38px);
  margin-bottom: clamp(25px, 6.7vw, 50px);
  line-height: clamp(27px, 7.2vw, 54px);
}
.testimonials.mobile .customer-name {
  font-size: clamp(16px, 4.8vw, 38px);
  margin-bottom: clamp(10px, 2.7vw, 20px);
}
.testimonials.mobile .customer-title {
  font-size: clamp(16px, 4.3vw, 30px);
}
.testimonials h2 {
  font-family: "Fraunces";
  font-weight: 900;
  color: hsl(210, 4%, 67%);
}
.testimonials .avatar {
  border-radius: 50%;
}
.testimonials .comment {
  color: hsl(213, 9%, 39%);
}
.testimonials .customer-title {
  color: hsl(210, 4%, 67%);
}
.testimonials .customer-name {
  font-family: "Fraunces";
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 18px;
}

.sunnyside {
  max-width: 1920px;
  margin: 0 auto;
}

/*# sourceMappingURL=index.css.map */
